{% extends 'SpbShopBundle::layout.html.twig' %}

{% block title %} 
Пленка фотолюминесцентная АБ 200
{% endblock %}

{% block body %}

<ul class="breadcrumb">
    <li><a href="{{ path('spb_home') }}">Главная</a> <span class="divider">/</li>
    <li class="active">Пленка фотолюминесцентная АБ 200</li>
</ul>

<h3>
+7 (812) 336-97-35,
+7 (812) 329-01-88, 
+7 (901) 315-32-23
</h3>
<table>
    <tbody>
        <tr>
            <td colspan="2">
                <img class="img-responsive" alt="порошковая камера" src="{{ asset('bundles/spbshop/img/ab200_1.jpg') }}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td colspan="2">
                <img class="img-responsive" alt="порошковая окраска" src="{{ asset('bundles/spbshop/img/ab200_2.jpg') }}">
            </td>
        </tr>
        <tr>
            <td>
                <img class="img-responsive" alt="порошковая камера" src="{{ asset('bundles/spbshop/img/ab200_11.png') }}">
            </td>
            <td>
                <img class="img-responsive" alt="порошковая камера" src="{{ asset('bundles/spbshop/img/ab200_12.png') }}">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
                <img class="img-responsive" alt="порошковая камера" src="{{ asset('bundles/spbshop/img/ab200_13.png') }}">
            </td>
            <td>
                <img class="img-responsive" alt="порошковая камера" src="{{ asset('bundles/spbshop/img/ab200_14.png') }}">
            </td>
        </tr>

    </tbody>
</table>

<h4>Обладает УНИКАЛЬНЫМ сочетанием характеристик:</h4>

<ul>
  <li>производится в России (в Санкт-Петербурге) по оригинальной технологии;</li>
  <li>реализуется по конкурентной цене;</li>
  <li>для прямой печати практически любыми принтерами и, одновременно, для ламинации   бумаги, пластика и прочих материалов;</li>
  <li>соответствует всем требованиям профильных нормативных документов..</li>
</ul>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Наименование продукции</th>
            <th>Ед.изм.</th>
            <th>Цена, руб./ед. изм.,в т.ч. НДС</th>
            <th>Ед. изм. в упаковке</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Пленка фотолюминесцентная АБ 200</td>
            <td>м²</td>
            <td>1 450,00</td>
            <td>10,00</td>
        </tr>
    </tbody>
</table>

<h4>Условия поставки:</h4>
<ul>
<li>предоплата 100 %;</li>
<li>доставка транспортной компанией /самовывоз с нашего склада в Санкт-Петербурге;</li>
<li>скидки за объем.</li>
</ul>

<p>
Используется для изготовления элементов фотолюминесцентных эвакуационных систем - ФЭС (знаков безопасности, эвакуационных знаков, сигнальной разметки, планов эвакуации и т.д.) применяемых в зданиях, сооружениях, на объектах и транспортных средствах в соответствии с нормативными документами.
</p>

<p>
В части технических характеристик соответствует требованиям к материалам:
<ul>
<li>ГОСТ Р 12.2.143-2009;</li>
<li>ГОСТ Р 12.4.026-2001;</li>
<li>международных стандартов ISO 17398 (к подклассифкациям   A, B, C) и ISO 16069.</li>
</ul>
</p>

<p>
Для идентификации пленки на лицевой стороне нанесена маркировка – товарный знак производителя, в виде сочетания заглавных букв А и Б, и цифра «200» расположенные в шахматном порядке друг относительно друга на расстоянии 60-120 мм. 
</p>
<p>
    Для ламинации и прямой печати пигментными, любыми сольвентными (кроме HARD), шелкотрафаретными, латексными, УФ-отверждаемыми красками (чернилами) с высокой четкостью и качеством цветопередачи. Самоклеющаяся, склеивание под давлением. Минимальная температура склеивания: - 5,0 С°. Режется на форматы гильотиной, плоттером, ножами и ножницами вручную. Не токсична. В процессе хранения, переработки и эксплуатации не имеет неприятного запаха. Влагонепроницаемая.
</p>

<h4>Сертификаты:</h4>
<ul>
<li>сертификат на соответствие требованиям ГОСТ Р 12.2.143-2009 № РОСС RU.АГ87.Н00682;</li>
<li>добровольный сертификат соответствия в области пожарной безопасности № ЦОТК.RU.ПР001.Н.00040.</li>
</ul>

<h4>Яркость послесвечения:</h4>
<ul>
<li>через 10 минут - не менее 200 мкд/м²;</li>
<li>через 60 минут - не менее 25 мкд/м².</li>
</ul>

<h4>Время затухания (послесвечения): <small style="color:black;">не менее 1440 минут.</small></h4>
<h4>Цвет свечения: <small  style="color:black;">желто-зеленый.</small><h4>

<h4>Показатели пожарной опасности:</h4>
<ul>
<li>группа горючести, не ниже Г2</li>
<li>группа воспламеняемости, не ниже В2</li>
<li>коэффициент дымообразования, не ниже Д2</li>
<li>показатель токсичности, не ниже Т2</li>
<li>кислородный индекс, не ниже 24%</li>
</ul>

<h4>Диапазон температур эксплуатации: <small style="color:black;">от -50°С до +60°С при относительной влажности воздуха до 98 %.</small></h4>
<h4>Толщина:</h4>
<ul>
<li>с антиадгезионной подложкой – 600 мкм;</li>
<li>без антиадгезионной подложкой – 480 мкм.</li>
</ul>

<h4>Упаковка: <small style="color:black;">отпускается в рулонах по 10 м² (0,625*16 м) упакованных в картонные короба (0,73*0,18*0,18 м) и в листах (0,61* 0,41м) по 40 или 50 штук в упаковке.
    </small></h4>
<h4>Гарантийный срок службы: <small  style="color:black;">5 лет.</small></h4>
<h4>Гарантийный срок хранения: <small style="color:black;">12 месяцев с даты изготовления (при соблюдении рекомендаций производителя).</small></h4>

<h4>ТУ 2255-002-77760365-2015</h4>
<h4>Производитель: <small style="color:black;">ООО «Альянс Безопасности» 
192236, г. Санкт-Петербург, ул. Софийская, д. 8, корп. 1 лит. Б. </small></h4>
<h4>Эксклюзивный дистрибьютор в России:<small style="color:black;"> ООО «Виктис»</small></h4>

<img class="thumbnail" src="{{ asset('bundles/spbshop/img/ab3.jpg') }}" style="margin-left: 10px;" align="right">

<p>
Производитель не планирует самостоятельно массово изготавливать готовые изделия (элементы ФЭС). Мы ищем партнеров – производителей данной продукции.
</p>
<p><b>
   ПЛЕНКА ФОТОЛЮМИНЕСЦЕНТНАЯ АБ 200 – это продукт для тех, кто ориентирован в будущее, кому важны стабильность, уверенность и предсказуемость.
</b></p>
<p>
   Предлагаем заинтересованным лицам и организациям услуги контрактного производства фотолюминесцентной пленки по техническому заданию и под торговой маркой заказчика.
</p>
<p>
   Образцы продукции можно получить, сообщив нам свой номер телефона, почтовый адрес, наименование организации, контактное лицо.
</p>






<p>
<i>
Обращаем Ваше внимание, что часть средств, полученных от продажи продукции, будет направлена на поддержку деятельности благотворительного фонда помощи сотрудникам пожарной охраны: <a href="www.bfpspo.ru">www.bfpspo.ru</a></i>
</p>
{% endblock %}                          
