<h4>Акустическая система SOUND PRIM</h4>
<strong>Область применения:</strong>
<ul>
    
    <li>
        Прекрасным решением для коррекции акустической среды в помещении выступает 
        система стеновой и потолочной акустической облицовки «Албес», где в качестве 
        облицовочного элемента выступает металлическая панель из просечно-вытяжной 
        сетки (ПВС) или перфорированного алюминия.
    </li>
    <li>
        Система акустической облицовки «Албес» "SOUND PRIM" идеально подходит для 
        коррекции акустической среды в помещениях, к которым предъявляются повышенные 
        требования по показателям звукопоглощения и звукоизоляции: спортивные и 
        развлекательные залы, учебные и конференц-залы, залы диспетчерской связи, 
        торговые и выставочные залы, а также производственные и технические помещения.
    </li>
</ul>
<p>
    <strong>Преимущества:</strong>
</p>
<ul>
    <li>
        Богатая цветовая гамма панелей и широкий типоразмерный ряд позволяют создавать 
        индивидуальный интерьер и реализовывать дизайнерские решения.
    </li>
    <li>
        Антивандальное исполнение системы, где в качестве экрана используется ПВС 
        или перфорированный алюминий, позволяет применять ее для коррекции акустической 
        среды в местах общественного пользования, а также производственного назначения.
    </li>
    <li>
        Акустический наполнитель, используемый в системе, полностью соответствует 
        требованиям пожаробезопасности.
    </li>
</ul>
<p>
    <strong>Коррекция акустической среды происходит за счет совмещения нескольких параметров:</strong>
</p>
<ul>
    <li>
        акустического наполнителя, обернутого в звукопрозрачную ткань (плотность 
        акустического мата выбирается в зависимости от желаемого уровня звукопоглощения).
    </li>
    <li>
        площади открытого пространства металлической облицовочной панели (количество
        и размер перфорации выбирается в зависимости от желаемого уровня звукопоглощения).
    </li>
    <li>
        зазора между основанием и облицовкой из металлических панелей (регулируется с 
        помощью крепежных элементов системы).
    </li>
</ul>
<p>
    <strong>Система потолочной акустической облицовки "SOUND PRIM":</strong>
</p>
<ul>
    <li>
        Кассеты с кромкой TEGULAR на подвесную систему Т-15 и Т-24:<br>
        <img alt="Кассеты с кромкой TEGULAR на подвесную систему Т-15 и Т-24" class="thumbnail" src="{{ asset('bundles/spbshop/img/686_tegular.png') }}">
    </li>
    <li>
        Кассеты с кромкой BOARD на подвесную cистему Т-15 и Т-24:<br>
        
        <img alt="Кассеты с кромкой BOARD на подвесную cистему Т-15 и Т-24" class="thumbnail" src="{{ asset('bundles/spbshop/img/686_board.png') }}">
    </li>
    <li>
        Кассеты с кромкой VECTOR на подвесную cистему Т-24:<br>
        <img alt="Кассеты с кромкой VECTOR на подвесную cистему Т-24" class="thumbnail" src="{{ asset('bundles/spbshop/img/686_vector.png') }}">
    </li>
</ul>

<p>
    Расход элементов для акустических панелей на 1 м2 потолка устанавливается в соответствии с расходом потолочных кассет соответствующих размеров на Т-профиль класса не ниже PRIM.
</p>

<p>
    <strong>Система стеновой акустической облицовки "SOUND PRIM":</strong>
</p>
<p>
    <img class="thumbnail" alt="Система стеновой акустической облицовки" src="{{ asset('bundles/spbshop/img/686_stena.png') }}">
</p>
<p>
    <strong>Панель перфорированная δ=0,5 мм, диаметр перфорации d=1,5 мм, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_8837_sshema1.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf1.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,8</li>
    <li>С заполнителем 30 мм – 0,7</li>
</ul>
<p>Класс звукопоглощения – B.</p>
<p>
    <strong> Панель алюминиевая перфорированная δ=0,5 мм, диаметр перфорации d=3 мм, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_sshema2.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf2.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,7</li>
    <li>С заполнителем 30 мм – 0,7</li>
</ul>
<p>Класс звукопоглощения – B.</p>
<p>
    <strong>Панель алюминиевая из просечно-вытяжной сетки St20 δ=2 мм, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_sshema3.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf3.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,8</li>
    <li>С заполнителем 30 мм – 0,7</li>
</ul>
<p>Класс звукопоглощения – A.</p>
<p>
    <strong>Панель алюминиевая из просечно-вытяжной сетки R16 δ=1,5 мм, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_sshema4.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf4.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,8</li>
    <li>С заполнителем 30 мм – 0,7</li>
</ul>
<p>Класс звукопоглощения – A.</p>
<p>
    <strong>Панель алюминиевая из просечно-вытяжной сетки St10 δ=1,0 мм, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_sshema5.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf5.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,8</li>
    <li>С заполнителем 30 мм – 0,7</li>
</ul>
<p>Класс звукопоглощения – B.</p>
<p>
    <strong>Панель алюминиевая из просечно-вытяжной сетки Q8 δ=1,0 мм, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_sshema6.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf6.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,9</li>
    <li>С заполнителем 30 мм – 0,8</li>
</ul>
<p>Класс звукопоглощения – A.</p>
<p>
    <strong>Панель алюминиевая перфорированная δ=0,5 мм с перфорацией квадрат 10х10 мм 45°, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_sshema7.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf7.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,8</li>
    <li>С заполнителем 30 мм – 0,7</li>
</ul>
<p>Класс звукопоглощения – C.</p>
<p>
    <strong>Панель алюминиевая перфорированная δ=0,5 мм с перфорацией квадрат 10х10 мм 90°, с акустическим нетканным материалом.</strong>
</p>
<ul class="inline">
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_sshema8.png') }}"></li>
    <li><img alt="" src="{{ asset('bundles/spbshop/img/694_perf8.png') }}" ></li>
</ul>
<p>
    Средний коэффициент звукопоглощения NRC при относе плиты от жесткой поверхности – 50 мм:
</p>
<ul>
    <li>С заполнителем 50 мм – 0,8</li>
    <li>С заполнителем 30 мм – 0,7</li>
</ul>
<p>Класс звукопоглощения – C.</p>
<p>
    <strong>Расход элементов для акустических панелей 600х600 мм. на 1 м<sup>2</sup> стены при высоте потолка 2,5 м.</strong>
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Расход на 1 м. кв.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Панель Акустическая 600*600*50(30) в сборе</td>
            <td>2,7 шт.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Профиль стартовый 65*57*50 L=3,00</td>
            <td>0,4 м. п.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Профиль крепежный 40*57*50 L=3,00</td>
            <td>1,6 м. п.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Профиль финишный 20*55*50 L=3,00</td>
            <td>0,4 м. п.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Профиль ПС-2</td>
            <td>1,3 м. п.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Прямой подвес</td>
            <td>1,6 шт.</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Расход элементов для акустических панелей 600х1200 мм. на 1 м<sup>2</sup> стены при высоте потолка 2,5 м.</strong>
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Расход на 1 м. кв.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Панель Акустическая 600*600*50(30) в сборе</td>
            <td>1,38 шт.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Профиль стартовый 65*57*50 L=3,00</td>
            <td>0,4 м. п.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Профиль крепежный 40*57*50 L=3,00</td>
            <td>0,8 м. п.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Профиль финишный 20*55*50 L=3,00</td>
            <td>0,4 м. п.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Профиль ПС-2</td>
            <td>1,3 м. п.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Прямой подвес</td>
            <td>1,6 шт.</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Расход элементов для акустических панелей 300х1200 мм. на 1 м<sup>2</sup> стены при высоте потолка 2,5 м.</strong>
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Расход на 1 м. кв.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Панель Акустическая 600*600*50(30) в сборе</td>
            <td>2,7 шт.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Профиль стартовый 65*57*50 L=3,00</td>
            <td>0,4 м. п.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Профиль крепежный 40*57*50 L=3,00</td>
            <td>0,8 м. п.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Профиль финишный 20*55*50 L=3,00</td>
            <td>0,4 м. п.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Профиль ПС-2</td>
            <td>1,3 м. п.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Прямой подвес</td>
            <td>1,6 шт.</td>
        </tr>
    </tbody>
</table>