{% extends 'SpbShopBundle::layout.html.twig' %}

{% block title %} 
Сертификаты на продукцию
{% endblock %}

{% block body %}

<ul class="breadcrumb">
    <li><a href="{{ path('spb_home') }}">Главная</a> <span class="divider">/</li>
    <li class="active">Сертификаты</li>
</ul>

<p>
    <a href="http://get.adobe.com/reader/') }}" target="_blank">
        <img alt="Adobe Reader" src="{{ asset('bundles/spbshop/img/712_get_adobe_reader.gif') }}" style="margin-right: 5px;" align="left" border="0">
    </a>
    Все каталоги и буклеты представлены в формате Adobe PDF. Для просмотра документации необходимо приложение Adobe Reader, которое можно <a href="http://get.adobe.com/reader/') }}" target="_blank" title="Загрузить приложение Adobe Reader">бесплатно загрузить</a> и установить с официального сайта разработчика.
</p>

<table class="table"> 
    <thead> 
        <tr>
            <th>Наименование продукции</th>
            <th>Документ</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td> 
                <p> Профили стальные оцинкованные 
                    тонкостенные и комплектующих к ним для устройства конструкций из 
                    гипсо-картонных и гипсоволокнистых листов. Выпускаются по ТУ 
                    5262-003-89479113-2008. Производитель ЗАО «АСЛ Системы»:</p> 
                <ul><li> профили ПН-2, ПС-2, ПН-4, ПС-4, ПН-6, ПС-6, ПСЭ-2, 
                        ПНЭ-2, ПСЭ-3, ПНЭ-3, ПНЭ-4, ПСЭ-4, ПНЭ-6, ПСЭ-6, ПП-1-1, ПП-1-2, ППН-1, 
                        ППН-2, ПП 60x27, ППН 27x28</li>
                    <li> комплектующие: 
                        <ul><li> подвес прямой для ПП60х27, анкерный 
                                подвес;</li>
                            <li> профиль маячковый 6(10) 
                                мм;</li>
                            <li> уголок: перефирированнный PL 25x25, сетчатый ПУ
                                35x35;</li>
                            <li> удлинитель профиля 
                                ПП60х27;</li>
                            <li> соединитель одноуровневый для ПП 60x27 
                                (краб);</li>
                            <li> соединитель профилей двухуровневый: для 
                                ПП-1-2, для ПП 60x27;</li>
                            <li> пружина для подвеса, спица с 
                                кольцом (крючком);</li>
                            <li> лента монтажная 
                                перфорированная</li>
                        </ul>
                    </li>
                </ul>
            </td>
            <td> 
                <ul> 
                    <li><a href="{{ asset('bundles/spbshop/docs/sertifikat_sootvetstviya_rosstroysertifikacii_dlya_gkl.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Fire_Certificate_GKL.pdf') }}" target="_blank" title="Сертификат пожарной безопасности">Сертификат пожарной безопасности</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_SanEpidem_GKL.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                </ul>
            </td> 
        </tr> 
        <tr> 
            <td>
                <p> 
                    Профили металлические тонкостенные с полимерным покрытием для устройства
                    подвесных потолков. Выпускаются по ТУ 5271-002-89479113-2008. 
                    Производитель ЗАО «АСЛ Системы»:</p> 
                <ul>
                    <li> профили стальные А84А, A80SV, A130SV, А180SV, A38S, A25S, А84АС, AN85A, AN85C, 
                        A40V, ASB, A91SP, АР600А6, АР600А8, АР600АС, ВТ-600, ВТ-3, ВТ-4, ВТ-6, 
                        BTN, ВТ-8, ПК, Т-образный 24/18, 24/24, 24/28, 35/38, 15 «Силуэт», PLL, 
                        PC, PF, РТ, РО, PL 19x24, PL 25x25;</li>
                    <li> профили из алюминиевого сплава А84А, А84АС, ASA, AN85A, AN85AC, AN135A, AN135AC, 
                        AN185A, AN185AC, ASN, АХ50АТ, А100АТ, А150АТ, A80SV, A130SV, A180SV, 
                        A38S, A25S, A40V, ASB, A91SP, АР600А6, АР600А6 перфо-рир., АР600А8, 
                        АР600А8 перфорир., АР60ОАС, АР600АС перфорир., направляющие «Грильято», 
                        «Грильято Пирамидальный», элементы решетки «Грильято». Профиль 
                        соединительный для «Грильято», PLL, PL 19x24, PL 25x25, PC, HF, РТ, 
                        РO.</li>
                </ul>
            </td>
            <td> 
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/sertifikat_sootvetstviya_rosstroysertifikacii_dlya_potolkov.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/712_2466_Albes_Certificate_NG_Potolki.pdf') }}">Сертификат НГ</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Fire_Certificate_Potolki.pdf') }}" target="_blank" title="Сертификат пожарной безопасности">Сертификат пожарной безопасности</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_SanEpidem_Potolki.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                </ul>
            </td>
        </tr> 
        <tr> 
            <td> 
                <p> Профиль Т стальной 
                    тонкостенный для подвесных потолков марок CLICK PRIM, Universal, NORMA, 
                    Албес, PRIM. Выпускаются по ТУ 5271-002-89479113-2008. Производитель ЗАО
                    «АСЛ Системы».</p>
            </td> 
            <td> 
                <ul><li><a href="{{ asset('bundles/spbshop/docs/t_profil_asl_ng.pdf') }}" target="_blank">Сертификат НГ</a></li></ul>
            </td>
        </tr>
        <tr> 
            <td> 
                <p> Профили металлические тонкостенные с полимерным покрытием для 
                    облицовки потолков, наружных и внутренних стен зданий и сооружений. 
                    Выпускаются по ТУ 5271-001-89479113-2008. Производитель ЗАО «АСЛ 
                    Системы»:</p> 
                <ul>
                    <li> Профили из алюминиевого сплава:
                        <ul>
                            <li> фасадные профили AF150C, AF200C, AF300C, А150СР, 
                                А230СР, А310СР, А160СТ, А240СТ, А320СТ, А90С, А140С, А190С, 
                                A250CD;</li>
                            <li> специальные профили PL, PLL, PC, РТ, РО, 
                                PF, PU, Р2;</li>
                            <li> профили цокольные ПЦ-50, ПЦ-60, ПЦ-80, 
                                ПЦ-100, ПЦ-120.</li>
                        </ul> 
                    </li>
                    <li> Профили из оцинкованной стали: 
                        <ul>
                            <li> фасадные профили AF150C, 
                                AF200C, AF250C, ВТ-9, А150СР, А230СР, А160СТ, А240СТ, ВТ-5, А90С, А140С,
                                А190С, ВТ-2, A250CD;</li>
                            <li> специальные профили PL, PLL, 
                                PC, РТ, РО, PU, PZ;</li>
                            <li> профили несущие ПГН 40x40, ПГН 
                                50x50, ПВН-Z 40x20x30, ПВН 20x20x20, ПВН 20x20x60x20x20, ПВН 
                                20x20x80x20x20, ПВН-L 40x75x10, ПВН-N 40.14x10x45.</li>
                        </ul>
                    </li>
                </ul> 
            </td> 
            <td> 
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Certificate_Steny.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Fire_Certificate_Steny.pdf') }}" target="_blank" title="Сертификат пожарной безопасности">Сертификат пожарной безопасности</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_SanEpidem_Steny.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/sertifikat_sootvetstviya_rosstroysertifikacii_dlya_sten.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                </ul>
            </td> 
        </tr> 
        <tr> 
            <td> 
                <p> Изделия погонажные 
                    профильные поливинихлоридные: профиль угловой арочный перфорированный, 
                    профиль угловой перфорированный, профиль угловой для кромок обоев. 
                    Выпускаются по ТУ 2247-002-89479113-2008. Производитель ЗАО «АСЛ 
                    Системы».</p> 
            </td>
            <td>
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Certificate_PVX.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Fire_Certificate_PVX.pdf') }}" target="_blank" title="Сертификат пожарной безопасности">Сертификат пожарной безопасности</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_SanEpidem_PVX.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                </ul>
            </td> 
        </tr> 
        <tr> 
            <td> 
                <p> Изделия крепежные: дюбели полимерные, 
                    модели: SMT-L, SMT-G, IZL, TNF, TT. Выпускаются по ТУ 
                    2291-001-89479113-2008. Производитель ЗАО «АСЛ Системы».</p> 
            </td> 
            <td> 
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Certificate_Dubel.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_SanEpidem_Dubel.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                </ul>
            </td>
        </tr>
        <tr> 
            <td>
                <p> Панели и кассеты стальные оцинкованные с 
                    полимерным покрытием и без него. Выпускаются по ТУ 
                    5262-002-98162987-2007. Производитель ЗАО «АСП-Инжиниринг».</p> 
            </td> 
            <td>
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_stal_panels_tiles.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_stal_profily_RSS.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_stal_profily_texocenka.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Fire_ASP_Potolki_Stal_2015.pdf.pdf') }}" target="_blank" title="Сертификат пожарной безопасности">Сертификат пожарной безопасности</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_SanEpidem_ASP_Potolki.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/ng_kassety.pdf') }}" target="_blank">Сертификат НГ</a></li>
                </ul>
            </td> 
        </tr>
        <tr>
            <td>
                Конструкция навесной фасадной системы с воздушным зазором AFS 1000. Производитель ЗАО «АСП-Инжиниринг».
            </td> 
            <td> 
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/tech_AFS1000.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li> 
                    <li><a href="{{ asset('bundles/spbshop/docs/tech_svidAFS1000.pdf') }}" target="_blank" title="Техническое свидетельство">Техническое свидетельство</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Профили стальные оцинкованные с  полимерным покрытием и комплектующие к ним. Выпускаются по ТУ 5262-002-98162987-2007. Производитель ЗАО «АСП-Инжиниринг».
            </td> 
            <td> 
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_stal_profily.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_stal_profily_RSS.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_stal_profily_texocenka.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Панели стальные оцинкованные с акустической подложкой. Выпускаются по ТУ 5262-002-98162987-2007. Производитель ЗАО «АСП-Инжиниринг».
            </td>
            <td>
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_acoustic.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_acoustic_RSS.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_acoustic_texocenka.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li>
                </ul>
            </td> 
        </tr> 
        <tr> 
            <td> 
                Профили стальные для навесных фасадных систем. Выпускаются по ТУ 5262-002-98162987-2007. Производитель ЗАО «АСП-Инжиниринг».
            </td> 
            <td> 
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_profily_fasad.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_profily_fasad_RSS.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_profily_fasad_texocenka.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Профили алюминиевые с полимерным покрытием и комплектующие к ним. Выпускаются по ТУ 5271-001-98162987-2007. Производитель ЗАО «АСП-Инжиниринг».
            </td>
            <td>
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_profily_alum.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_profily_alum_RSS.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_profily_alum_texocenka.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Панели и кассеты алюминиевые с полимерным покрытием и без него. Выпускаются по ТУ 5271-001-98162987-2007. Производитель ЗАО «АСП-Инжиниринг».
            </td>
            <td>
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_panels_tiles_alum.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_panels_tiles_alum_RSS.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_panels_tiles_alum_texocenka.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_Fire_ASP_Potolki_Alum_2015.pdf') }}" target="_blank" title="Сертификат пожарной безопасности">Сертификат пожарной безопасности</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_SanEpidem_ASP_Potolki_Alum.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                </ul>
            </td>
        </tr> 
        <tr> 
            <td> 
                Панели алюминиевые с акустической подложкой. Выпускаются по ТУ 5271-001-98162987-2007. Производитель ЗАО «АСП-Инжиниринг».
            </td>
            <td>
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_panels_alum_acoustic.pdf') }}" target="_blank" title="Сертификат соответствия">Сертификат соответствия</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_panels_alum_acoustic_RSS.pdf') }}" target="_blank" title="Сертификат соответствия «Росстройсертификации»">Сертификат соответствия «Росстройсертификации»</a></li>
                    <li><a href="{{ asset('bundles/spbshop/docs/Albes_ASP_panels_alum_acoustic_texocenka.pdf') }}" target="_blank" title="Техническая оценка">Техническая оценка</a></li>
                </ul>
            </td> 
        </tr>
        <tr>
            <td>
                Панели и профили алюминиевые тонкостенные для
                облицовки потолков и внутренних стен зданий различного назначения. 
                Выпускаются по ТУ 5271-001-98162987-2007 с Изменением № 1. Производитель
                ЗАО «АСП-Инжиниринг». 
            </td> 
            <td> 
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/aluminium_clean_room_asp.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Панели и профили стальные тонкостенные для 
                облицовки потолков и внутренних стен зданий различного назначения. 
                Выпускаются по ТУ 5271-001-98162987-2007 с Изменением № 1, 2. 
                Производитель ЗАО «АСП-Инжиниринг».
            </td>
            <td>
                <ul>
                    <li><a href="{{ asset('bundles/spbshop/docs/stal_clean_room_asp.pdf') }}" target="_blank" title="Санитарно-эпидемиологическое заключение">Санитарно-эпидемиологическое заключение</a></li>
                </ul>
            </td>
        </tr>
    </tbody> 
</table>

{% endblock %}