<dl>
    <dt>Удобство монтажа</dt>
    <dd>установка L-профилей на решетку не требует дополнительных операций по его закреплению</dd>
    <dt>Стабильный цвет</dt>
    <dd>разнотон Т-профиля и решеток исключен</dd>
    <dt>Идентичный материал изготовления</dt>
    <dd>система т-профиль и решетки изготовлены из одного сырья</dd>
    <dt>Жесткость конструкции</dt>
    <dd>наличие дополнительных ребер жесткости</dd>
    <dt>Равномерность потолочного пространства</dt>
    <dd>единый уровень т-профиля и решеток Грильято</dd>
</dl>

<strong>Назначение</strong>
<p>
    Система разработана и предлагается к установке (монтажу) как на возводимых объектах, так и в эксплуатируемых помещениях с подвесными потолками устаревшего дизайна или потолками, требующими замены по причине утраты внешнего вида.
</p>

<iframe class="thumbnail" src="http://www.youtube.com/embed/AcnwwGQqfO0?rel=0" allowfullscreen="" align="middle" frameborder="0" height="315" width="560"></iframe>
<br/>
<strong>Область применения</strong>
<ol>
    <li>
        бутики, торговые и выставочные залы;</li>
    <li>
        престижные офисы и приемные;</li>
    <li>
        залы ресторанов и холлы гостиниц;</li>
    <li>
        фойе концертных залов, театров и кинотеатров;</li>
    <li>
        рекреации спортивно-развлекательных комплексов;</li>
    <li>
        аэропорты, железнодорожные и автовокзалы;</li>
    <li>
        узкие пространства, коридоры, тоннели.</li>
</ol>

<strong>Описание</strong>
<p>
    Cистема состоит из отдельных объемных решеток образованных пересекающимися окрашенными профилями типа <span style="font-weight: bold;">«</span>мама<span style="font-weight: bold;">»</span> и <span style="font-weight: bold;">«</span>папа<span style="font-weight: bold;">»</span>. По периметру решетка обрамлена L-образными окрашенными профилями. Каждая отдельная решетка легко вставляется в кашпо подвесной системы «Т-профиль» шириной 15 мм. По завершению монтажа решеток на подвесную систему поверхность производит впечатление сплошной монолитной конструкции, создающей иллюзию потолка классического Грильято.
</p>
<p>
    Использование подвесной системы <strong>Албес «Т-профиль PRIM»</strong> совместно с системой потолков <strong>GL15</strong> не только обеспечит быстроту и легкость монтажа, но и позволит сохранять целостность и прямолинейность подвесного потолка на весь период эксплуатации.
</p>
<strong>Размеры</strong>
<ul>
    <li>
        Размеры решетки: 600х600 мм.</li>
    <li>
        Размер профилей решетки: «мама» /«папа» высота h=37,0 и 47,0 мм., ширина видимой части профилей (база) b=15 мм.</li>
</ul>

<strong>Размер ячеек решетки:</strong>
<table class="table">
    <tbody>
        <tr>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х50 мм" src="{{ asset('bundles/spbshop/img/sh300h50.png') }}"></td>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х60 мм" src="{{ asset('bundles/spbshop/img/sh300h60.png') }}"></td>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х75 мм" src="{{ asset('bundles/spbshop/img/sh300h75.png') }}"></td>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х86 мм" src="{{ asset('bundles/spbshop/img/sh300h86.png') }}"></td>
        </tr>
        <tr>
            <td align="center">
                300х50 мм</td>
            <td align="center">
                300х60 мм</td>
            <td align="center">
                300х75 мм</td>
            <td align="center">
                300х86 мм</td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х100 мм" src="{{ asset('bundles/spbshop/img/sh300h100.png') }}"></td>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х120 мм" src="{{ asset('bundles/spbshop/img/sh300h120.png') }}"></td>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х150 мм" src="{{ asset('bundles/spbshop/img/sh300h150.png') }}"></td>
            <td>
                <img alt="Грильято GL15 Жалюзи - ячейка 300х200 мм" src="{{ asset('bundles/spbshop/img/sh300h200.png') }}"></td>
        </tr>
        <tr>
            <td align="center">
                300х100 мм</td>
            <td align="center">
                300х120 мм</td>
            <td align="center">
                300х150 мм</td>
            <td align="center">
                300х200 мм</td>
        </tr>
    </tbody>
</table>

<strong>Преимущества</strong>
<p>
    В дополнение ко всем преимуществам растровых потолков новая система обеспечивает:
</p>
<ol>
    <li>
        За счет уменьшения количества «папа» стоимость Грильято GL15 Жалюзи уменьшается в разы по сравнению с аналогом Грильято GL15;</li>
    <li>
        Повышенные эксплуатационные характеристики потолочной системы благодаря возможности неоднократного монтажа и демонтажа отдельных решеток без нарушения целостности всей системы;</li>
    <li>
        Возможность совмещения в одном пространстве (на одной подвесной системе) разноплановых потолочных элементов, путем чередования кассет и решеток.</li>
</ol>
<br/>
<strong>Возможности цветового исполнения</strong>
<p>
    Стандартные цвета: белый (матовый и глянец), металлик (в т.ч. матовый), хром (супер и супер-люкс), золото (супер и супер-люкс).
</p>

<strong>Расчет количества элементов в решетке</strong>

<table class="table table-bordered table-condensed table-striped" style="width: 50%">
    <thead>
        <tr>
            <th>
                Ячейка</th>
            <th>
                «мама»</th>
            <th>
                «папа»</th>
            <th>
                L</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                300х50</td>
            <td style="text-align: right;">
                11</td>
            <td colspan="1" rowspan="8" style="text-align: right;" valign="middle">
                <p style="text-align: center;">
                    &nbsp;</p>
                <p style="text-align: center;">
                    &nbsp;</p>
                <p style="text-align: center;">
                    &nbsp;</p>
                <p style="text-align: center;">
                    1</p>
            </td>
            <td colspan="1" rowspan="8" style="text-align: right;" align="center" valign="middle">
                <p style="text-align: center;">
                    &nbsp;</p>
                <p style="text-align: center;">
                    &nbsp;</p>
                <p style="text-align: center;">
                    &nbsp;</p>
                <p style="text-align: center;">
                    4</p>
            </td>
        </tr>
        <tr>
            <td>
                300х60</td>
            <td style="text-align: right;">
                9</td>
        </tr>
        <tr>
            <td>
                300х75</td>
            <td style="text-align: right;">
                7</td>
        </tr>
        <tr>
            <td>
                300х86</td>
            <td style="text-align: right;">
                6</td>
        </tr>
        <tr>
            <td>
                300х100</td>
            <td style="text-align: right;">
                5</td>
        </tr>
        <tr>
            <td>
                300х120</td>
            <td style="text-align: right;">
                4<span></span></td>
        </tr>
        <tr>
            <td>
                300х150</td>
            <td style="text-align: right;">
                3</td>
        </tr>
        <tr>
            <td>
                300х200</td>
            <td style="text-align: right;">
                2</td>
        </tr>
    </tbody>
</table>

<strong>Расчет элементов системы на 1 м<sup>2</sup></strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Марка системы</th>
            <th>
                Наименование изделия</th>
            <th>
                Марка изделия</th>
            <th style="text-align: right;">
                Модуль</th>
            <th style="text-align: right;">
                Ед. изм.</th>
            <th style="text-align: right;">
                Расход на 1 м2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="1" rowspan="6" valign="middle">
                GL15 Жалюзи</td>
            <td style="vertical-align: middle;">
                Решетка грильято</td>
            <td>
                РГ</td>
            <td style="text-align: right;">
                600х600</td>
            <td style="text-align: right;">
                мм</td>
            <td style="text-align: right;">
                2,78</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="3" style="vertical-align: middle;">
                Подвесная система Т-15</td>
            <td>
                Несущий профиль</td>
            <td style="text-align: right;">
                3700</td>
            <td style="text-align: right;">
                мм</td>
            <td style="text-align: right;">
                0,83</td>
        </tr>
        <tr>
            <td>
                Поперечный профиль</td>
            <td style="text-align: right;">
                1200</td>
            <td style="text-align: right;">
                мм</td>
            <td style="text-align: right;">
                1,67</td>
        </tr>
        <tr>
            <td>
                Поперечный профиль</td>
            <td style="text-align: right;">
                600</td>
            <td style="text-align: right;">
                мм</td>
            <td style="text-align: right;">
                0,83</td>
        </tr>
        <tr>
            <td colspan="1" style="vertical-align: middle;">
                Подвес</td>
            <td>
                АП</td>
            <td>
                &nbsp;</td>
            <td style="text-align: right;">
                комп.</td>
            <td style="text-align: right;">
                0,83</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="2" style="vertical-align: middle;">
                Уголок</td>
            <td>
                PL 19х24</td>
            <td>
                &nbsp;</td>
            <td style="text-align: right;">
                м. п.</td>
            <td style="text-align: right;">
                по расчету</td>
        </tr>
    </tbody>
</table>