<dl>
    <dt>Удобство монтажа</dt>
    <dd>установка L-профилей на решетку не требует дополнительных операций по его закреплению</dd>
    <dt>Стабильный цвет</dt>
    <dd>разнотон Т-профиля и решеток исключен</dd>
    <dt>Идентичный материал изготовления</dt>
    <dd>система т-профиль и решетки изготовлены из одного сырья</dd>
    <dt>Жесткость конструкции</dt>
    <dd>наличие дополнительных ребер жесткости</dd>
    <dt>Равномерность потолочного пространства</dt>
    <dd>единый уровень т-профиля и решеток Грильято</dd>
</dl>  

<strong>Назначение</strong>
<p>
    Система разработана и предлагается к установке (монтажу) как на возводимых объектах, так и в эксплуатируемых помещениях с подвесными потолками устаревшего дизайна или потолками, требующими замены по причине утраты внешнего вида.
</p>

<strong>Область применения</strong>
<ol>
    <li>
        бутики, торговые и выставочные залы;</li>
    <li>
        престижные офисы и приемные;</li>
    <li>
        залы ресторанов и холлы гостиниц;</li>
    <li>
        фойе концертных залов, театров и кинотеатров;</li>
    <li>
        рекреации спортивно-развлекательных комплексов;</li>
    <li>
        аэропорты, железнодорожные и автовокзалы.</li>
</ol>

<strong>Описание</strong>
<p>
    Cистема состоит из отдельных объемных решеток образованных пересекающимися окрашенными профилями. По периметру решетка обрамлена L-образными окрашенными профилями. Каждая отдельная решетка легко вставляется в кашпо подвесной системы «Т-профиль» шириной 15 мм. По завершению монтажа решеток на подвесную систему поверхность производит впечатление сплошной (непрерывной) конструкции.
</p>
<p>
    Использование подвесной системы <strong>Албес «Т-профиль PRIM»</strong> совместно с системой потолков <strong>GL15</strong> не только обеспечит быстроту и легкость монтажа, но и позволит сохранять целостность и прямолинейность подвесного потолка на весь период эксплуатации.
</p>
<p>
    <img alt="решетка-грильято-gl15" src="{{ asset('bundles/spbshop/img/решетка-грильято-gl15.jpg')}}">
</p>

<strong>Размеры</strong>
<ul>
    <li>
        Размеры решетки: 600х600 мм.</li>
    <li>
        Размер профилей решетки: «мама» /«папа» высота h=37,0 и 47,0 мм., ширина видимой части профилей (база) b=15 мм.</li>
</ul>

<strong>Размер ячеек решетки:</strong>
<table class="table">
    <tbody>
        <tr>
            <td><img alt="Грильято CL15 - ячейка 50х50 мм." src="{{ asset('bundles/spbshop/img/635_50x50.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 60х60 мм." src="{{ asset('bundles/spbshop/img/635_60x60.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 75х75 мм." src="{{ asset('bundles/spbshop/img/635_75x75.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 86х86 мм." src="{{ asset('bundles/spbshop/img/635_86x86.png') }}"></td></tr>
        <tr>
            <td align="center">50х50 мм</td>
            <td align="center">60х60 мм</td>
            <td align="center">75х75 мм</td>
            <td align="center">86х86 мм</td></tr>
        <tr>
            <td><br></td>
            <td><br></td>
            <td><br></td>
            <td><br></td></tr>
        <tr>
            <td><img alt="Грильято CL15 - ячейка 100х100 мм." src="{{ asset('bundles/spbshop/img/635_100x100.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 120х120 мм." src="{{ asset('bundles/spbshop/img/635_3175_120x120.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 150х150 мм." src="{{ asset('bundles/spbshop/img/635_1389_150x150.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 200х200 мм." src="{{ asset('bundles/spbshop/img/635_200x200.png') }}"></td></tr>
        <tr>
            <td align="center">100х100 мм</td>
            <td align="center">120х120 мм</td>
            <td align="center">150х150 мм</td>
            <td align="center">200х200 мм</td>
        </tr>
    </tbody>
</table>
<br/>
<strong>Преимущества</strong>
<p>
    В дополнение ко всем преимуществам растровых потолков новая система обеспечивает:
</p>
<ol>
    <li>
        Быстрый и легкий процесс обновления (осовременивания) устаревшего потолка за короткий срок и без демонтажа ранее установленной подвесной системы;</li>
    <li>
        Повышенные эксплуатационные характеристики потолочной системы благодаря возможности неоднократного монтажа и демонтажа отдельных решеток без нарушения целостности всей системы;</li>
    <li>
        Возможность совмещения в одном пространстве (на одной подвесной системе) разноплановых потолочных элементов, путем чередования кассет и решеток.</li>
</ol>

<strong>Возможности цветового исполнения</strong>
<p>
    Стандартные цвета: белый (матовый и глянец), металлик (в т.ч. матовый), хром (супер и супер-люкс), золото (супер и супер-люкс).
</p>
<strong>Технические характеристики</strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Марка системы</th>
            <th>
                Наименование изделия</th>
            <th>
                Марка изделия</th>
            <th>
                Модуль, мм</th>
            <th>
                Ед. изм.</th>
            <th>
                Расход на 1 м<sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="6">
                GL15</td>
            <td>
                Решетка GL15</td>
            <td>
                РГ</td>
            <td>
                600х600</td>
            <td>
                шт.</td>
            <td>
                2,78</td>
        </tr>
        <tr>
            <td rowspan="3">
                Подвесная система "Албес" T15 PRIM</td>
            <td>
                Несущий проф.</td>
            <td>
                3700</td>
            <td>
                п.м.</td>
            <td>
                0,83</td>
        </tr>
        <tr>
            <td>
                Попереч. проф.</td>
            <td>
                1200</td>
            <td>
                п.м.</td>
            <td>
                1,67</td>
        </tr>
        <tr>
            <td>
                Попереч. проф.</td>
            <td>
                600</td>
            <td>
                п.м.</td>
            <td>
                0,83</td>
        </tr>
        <tr>
            <td>
                Подвес</td>
            <td>
                АП</td>
            <td>
                &nbsp;</td>
            <td>
                шт.</td>
            <td>
                0,83 компл.</td>
        </tr>
        <tr>
            <td>
                Уголок</td>
            <td>
                PL 19x24</td>
            <td>
                &nbsp;</td>
            <td>
                п.м.</td>
            <td>
                по расчету</td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<br>
<strong>Процент прозрачности Грильято GL 15</strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Ширина профиля, мм</th>
            <th>
                50х50</th>
            <th>
                60х60</th>
            <th>
                75х75</th>
            <th>
                86х86</th>
            <th>
                100х100</th>
            <th>
                120х120</th>
            <th>
                150х150</th>
            <th>
                200х200</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                15</td>
            <td>
                53%</td>
            <td>
                60%</td>
            <td>
                68%</td>
            <td>
                72%</td>
            <td>
                77%</td>
            <td>
                81%</td>
            <td>
                86%</td>
            <td>
                90%</td>
        </tr>
    </tbody>
</table> 