<ul>
    <li>
        <a href="#pp" title="Прямой подвес для ПП 60х27">Прямой подвес для ПП 60х27</a></li>
    <li>
        <a href="#ppe" title="Прямой подвес EURO">Прямой подвес EURO</a></li>
    <li>
        <a href="#apz" title="Анкерный подвес/Подвес с зажимом для ПП-60х27">Анкерный подвес/Подвес с зажимом для ПП-60х27</a></li>
    <li>
        <a href="#ppu" title="ПП Удлинитель профиля для ПП-60х27">ПП Удлинитель профиля для ПП-60х27</a></li>
    <li>
        <a href="#sou" title="Соединитель одноуровневый для ПП 60х27 «краб-стронг»">Соединитель одноуровневый для ПП 60х27 «краб-стронг»</a></li>
    <li>
        <a href="#sop" title="ПП Соединитель одноуровневый для ПП-60х27">ПП Соединитель одноуровневый для ПП-60х27</a></li>
    <li>
        <a href="#sdu" title="ПП соединитель профилей двухуровневый для ПП-60х27">ПП соединитель профилей двухуровневый для ПП-60х27</a></li>
    <li>
        <a href="#sdp" title="ПП соединитель двухуровневый для ПП-1-1, ПП-1-2">ПП соединитель двухуровневый для ПП-1-1, ПП-1-2</a></li>
    <li>
        <a href="#lmp" title="Лента монтажная перфорированная">Лента монтажная перфорированная</a></li>
</ul>
<h5><a id="pp" name="pp"></a>Прямой подвес для ПП 60х27</h5>
<dl>
    <dt>Назначение:</dt>
    <dd>используется для крепления потолочных профилей к несущему основанию/конструкции</dd>
</dl>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Наименование</td>
            <th>ПП Прямой подвес «Албес» для ПП-60х27</th>
            <th>ПП Прямой подвес для ПП-60х27</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Размер, мм</th>
            <td>300х30</td>
            <td>300х30</td>
        </tr>
        <tr>
            <th>Толщина, мм</th>
            <td>0,9</td>
            <td>0,7</td>
        </tr>
        <tr>
            <th>Упаковка, шт.</th>
            <td>100</td>
            <td>100</td>
        </tr>
    </tbody>
</table>


<table class="table">
    <tr>
        <td><img class="thumbnail" alt="Прямой подвес" src="{{ asset('bundles/spbshop/img/753_podves-priam.jpg') }}" ></td>
        <td>  
            <h5><a id="ppe" name="ppe"></a>Прямой подвес EURO</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>используется для крепления потолочных профилей к несущему основанию/конструкции.</dd>
                <dt>Преимущество:</dt>
                <dd>усовершенствованная геометрия прямого подвеса предусматривает наличие дополнительных выступов, которые позволяют обеспечить более жесткое и надежное крепление подвесного металлического потолка.</dd>
            </dl>
        </td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>Прямой подвес EURO</dd>

    <dt>Размер, мм</dt>
    <dd>300х30</dd>

    <dt>Толщина, мм</dt>
    <dd>0,9</dd>

    <dt>Упаковка, шт.</dt>
    <dd>100</dd>
</dl>

<table class="table">
    <tr>
        <td><img class="thumbnail" alt="Анкерный подвес/Подвес с зажимом для ПП-60х27" src="{{ asset('bundles/spbshop/img/753_podves-anker.jpg') }}" ></td>
        <td>  
            <h5><a id="apz" name="apz"></a>Анкерный подвес/Подвес с зажимом для ПП-60х27</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>применяется с тягой подвеса для крепления профилей ПП 60х27. При монтаже обеспечивает возможность регулировки положения профилей по высоте.</dd>
            </dl>
        </td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>Анкерный подвес/Подвес с зажимом для ПП-60х27</dd>

    <dt>Размер, мм</dt>
    <dd>109х60</dd>

    <dt>Толщина, мм</dt>
    <dd>0,9</dd>

    <dt>Упаковка, шт.</dt>
    <dd>100</dd>
</dl>

<table class="table">
    <tr>
        <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/753_udlin-prof.jpg') }}" ></td>
        <td>  
            <h5><a id="ppu" name="ppu"></a>ПП Удлинитель профиля для ПП-60х27</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>используется для соединения/наращивания потолочных профилей и применяется с профилем ПП- 60х27.</dd>
            </dl>
        </td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>ПП Удлинитель профиля для ПП-60х27</dd>

    <dt>Размер, мм</dt>
    <dd>63х25</dd>

    <dt>Толщина, мм</dt>
    <dd>0,5</dd>

    <dt>Упаковка, шт.</dt>
    <dd>100</dd>
</dl>

<table class="table">
    <tr>
        <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/753_krab-strong.jpg') }}" ></td>
        <td>  
            <h5><a id="sou" name="sou"></a>Соединитель одноуровневый для ПП 60х27 «краб-стронг»</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>служит для крестообразного соединения металлических профилей ПП- 60х27 каркаса подвесного потолка в одном уровне.</dd>
                <dt>Преимущества:</dt>
                <dd>
                    новая уникальная геометрия соединителя одноуровнего предусматривает 
                    наличие дополнительных зажимов, которые позволяют произвести еще более 
                    жесткое и надежное крепление подвесного металлического потолка.
                </dd>
            </dl>
        </td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>ПП Соединитель профиля для ПП-60х27</dd>

    <dt>Размер, мм</dt>
    <dd>148х102</dd>

    <dt>Толщина, мм</dt>
    <dd>0,7</dd>

    <dt>Упаковка, шт.</dt>
    <dd>50</dd>
</dl>

<table class="table">
    <tr>
        <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/753_6315_soed-odnour.jpg') }}" ></td>
        <td>  
            <h5><a id="sop" name="sop"></a>ПП Соединитель одноуровневый для ПП-60х27</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>служит для крестообразного соединения металлических профилей ПП- 60х27 каркаса подвесного потолка в одном уровне.</dd>
            </dl>
        </td>
    </tr>
</table>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Наименование</td>
            <th>ПП соединитель одноуровневый «Албес» для ПП-60х27</th>
            <th>ПП соединитель одноуровневый для ПП-60х27</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Размер, мм</th>
            <td>148х120</td>
            <td>148х120</td>
        </tr>
        <tr>
            <th>Толщина, мм</th>
            <td>0,9</td>
            <td>0,7</td>
        </tr>
        <tr>
            <th>Упаковка, шт.</th>
            <td>50</td>
            <td>50</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <tr>
        <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/753_soed-dvuhurov.jpg') }}" ></td>
        <td>  
            <h5><a id="sdu" name="sdu"></a>ПП соединитель профилей двухуровневый для ПП-60х27</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>предназначен для крепления несущих профилей к основным профилям в подвесном потолке, применяется с профилем ПП-60х27.</dd>
            </dl>
        </td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>ПП соединитель профилей двухуровневый для ПП-60х27</dd>

    <dt>Размер, мм</dt>
    <dd>46х58</dd>

    <dt>Толщина, мм</dt>
    <dd>0,9</dd>

    <dt>Упаковка, шт.</dt>
    <dd>100</dd>
</dl>

<table class="table">
    <tr>
        <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/753_pp1.jpg') }}" ></td>
        <td>  
            <h5><a id="sdp" name="sdp"></a>ПП соединитель двухуровневый для ПП-1-1, ПП-1-2</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>предназначен для крепления несущих профилей к основным профилям в подвесном потолке, применяется с профилями ПП-1-1, ПП-1-2.</dd>
            </dl>
        </td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>ПП соединитель двухуровневый для ПП-1-1, ПП-1-2</dd>

    <dt>Размер, мм</dt>
    <dd>46х44</dd>

    <dt>Толщина, мм</dt>
    <dd>0,9</dd>

    <dt>Упаковка, шт.</dt>
    <dd>350</dd>
</dl>

<table class="table">
    <tr>
        <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/753_lenta-montaj-2.jpg') }}" ></td>
        <td>  
            <h5><a id="lmp" name="lmp"></a>Лента монтажная перфорированная</h5>
            <dl>
                <dt>Назначение:</dt>
                <dd>используется при монтаже воздуховодов, трубопроводов и креплении конструкций различного типа, применяемых в системах строительства объектов жилищного, общественного и промышленного назначения. Отверстия различного диаметра дают возможность закреплять ленту в виде хомута различной формы практически в любом необходимом месте с помощью болта (винта) и гайки.</dd>
            </dl>
        </td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>ПП соединитель двухуровневый для ПП-1-1, ПП-1-2</dd>

    <dt>Размер, мм</dt>
    <dd>46х44</dd>

    <dt>Толщина, мм</dt>
    <dd>0,9</dd>

    <dt>Упаковка, шт.</dt>
    <dd>350</dd>
</dl>

<table class="table table-bordered table-condensed table-striped">
    <tbody>
        <tr>
            <th>Наименование</th>
            <th>ЛМП</th>
            <th>ЛМП</th>
            <th>ЛМП</th>
        </tr>
        <tr>
            <th>Размер, мм</th>
            <td>12</td>
            <td>20</td>
            <td>25</td>
        </tr>
        <tr>
            <th>Толщина, мм</th>
            <td>0,55 / 0,7</td>
            <td>0,7 / 0,9</td>
            <td>0,9</td>
        </tr>
        <tr>
            <th>Упаковка, шт. (м.п.)</th>
            <td>12 (300)</td>
            <td>8 (200)</td>
            <td>6 (150)</td>
        </tr>
    </tbody>
</table>
