<strong>Область применения:</strong>
<p>Укомплектованные наборы предназначены для самостоятельной установки в помещениях типовых ванных комнат, поскольку включают весь перечень необходимых элементов и инструкцию, которая позволит с легкостью смонтировать потолок без помощи специалистов.</p>
<strong>Преимущества:</strong>
<ul>
    <li>Изготовленные из алюминия, потолки отлично зарекомендовали себя при отделке помещений повышенной влажности: они устойчивы к воздействию влаги, не деформируются, не теряют внешний вид. <br></li><li>Эксплуатационные преимущества потолка очевидны: под него можно спрятать электропроводку, вентиляционные короба, трубы, скрыть существующие недостатки (трещины, разводы).</li>
    <li>Огнестойкость, экологическая чистота — полностью соответствуют предъявляемым требованиям.</li>
    <li>Следы конденсата и любые другие загрязнения легко удаляются мягкими моющими средствами.</li>
</ul>

<p class="text-error">
    Сочетания цветов и материалов позволят Вам создать индивидуальный дизайн потолка, соответствующий выбранному стилю ванной комнаты.
</p>    

<p>
    <strong>Расчет элементов системы для реечного потолока немецкого дизайна</strong>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Внешний вид</th>
            <th>Наименование</th>
            <th>1.7x1.7 м</th>
            <th>1.7 х 1.5 м</th>
            <th>1.35 х 0.9 м</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_nemka.jpg') }}" title="Рейка потолочная немецкого дизайна"></td>
            <td>Рейка потолочная</td>
            <td>18 шт х 1.7 м</font></td>
            <td>16 шт х 1.7 м</font></td>
            <td>10 шт х 1.35 м</font></td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_ras_nemka.jpg') }}" title="Декоративная вставка"></td>
            <td>Декоративная вставка</td>
            <td>17 шт х 1.7 м</td>
            <td>15 шт х 1.7 м</td>
            <td>9 шт х 1.35 м</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_grebenka.jpg') }}" title="Гребенка"></td>
            <td>Гребенка</td>
            <td>2 шт х 1.7 м</td>
            <td>2 шт х 1.5 м</td>
            <td>2 шт х 0.9 м</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_PL_78h32.jpg') }}" title="Периметральный уголок PL"></td>
            <td>Периметральный уголок</td>
            <td>4 шт х 1.7 м</td>
            <td>4 шт х 1.7 м</td>
            <td>4 шт х 1.35 м</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_podves.jpg') }}" title="Подвес"></td>
            <td>Подвес потолочный</td>
            <td>4 шт</td>
            <td>4 шт</td>
            <td>4 шт</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Расчет элементов системы для реечного потолока «Омега»</strong>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Внешний вид</th>
            <th>Наименование</th>
            <th>1.7x1.7 м</th>
            <th>1.7 х 1.5 м</th>
            <th>1.35 х 0.9 м</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_nemka.jpg') }}" title="Рейка потолочная немецкого дизайна"></td>
            <td>Рейка потолочная</td>
            <td>18 шт х 1.7 м</td>
            <td>16 шт х 1.7 м</td>
            <td>10 шт х 1.35 м</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_grebenka.jpg') }}" title="Гребенка"></td>
            <td>Гребенка</td>
            <td>2 шт х 1.7 м</td>
            <td>2 шт х 1.5 м</td>
            <td>2 шт х 0.9 м</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_PL_78h32.jpg') }}" title="Периметральный уголок PL"></td>
            <td>Периметральный уголок</td>
            <td>4 шт х 1.7 м</td>
            <td>4 шт х 1.7 м</td>
            <td>4 шт х 1.35 м</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_podves.jpg') }}" title="Подвес"></td>
            <td>Подвес потолочный</td>
            <td>4 шт</td>
            <td>4 шт</td>
            <td>4 шт</td>
        </tr>
    </tbody>
</table>

<p>
    <strong>Расчет элементов системы для кассетного потолка</strong>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Внешний вид</th>
            <th>Наименование</th>
            <th>1.7x1.7 м</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_9703_ac.jpg') }}" title="Кассета потолочная"></td>
            <td>Кассета потолочная</td>
            <td>25 шт х 340х340 мм</td>
        </tr>
        <tr>
            <td><img alt="Стрингер" src="{{ asset('bundles/spbshop/img/713_stringer.png') }}" title="Гребенка"></td>
            <td>Стрингер</td>
            <td>6 шт х 1.7 м</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_PL_78h32.jpg') }}" title="Периметральный уголок PL"></td>
            <td>Периметральный уголок</td>
            <td>4 шт</td>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_podves.jpg') }}" title="Подвес"></td>
            <td>Подвес потолочный</td>
            <td>18 шт</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Цветовое исполнение реечного потолка немецкого дизайна</strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Раскладка / Реечная панель</th>
            <th>Белый матовый</th>
            <th>Белый глянец</th>
            <th>Металлик</th>
            <th>Металлик матовый</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Белый матовый</td>
            <td>•</td>
            <td>&nbsp;</td>
            <td>•</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Белый глянец</td>
            <td>&nbsp;</td>
            <td>•</td>
            <td>&nbsp;</td>
            <td>•</td>
        </tr>
        <tr>
            <td>Металлик</td>
            <td>•</td>
            <td>•</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Золото</td>
            <td>•</td>
            <td>•</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Супер-хром</td>
            <td>•</td>
            <td>•</td>
            <td>•</td>
            <td>•</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Цветовое исполнение реечного потолка «Омега»</strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Белый матовый</th>
            <th>Белый глянец</th>
            <th>Металлик</th>
            <th>Металлик матовый</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Реечная панель</td>
            <td>•</td>
            <td>•</td>
            <td>•</td>
            <td>•</td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Цветовое исполнение кассетного потолка</strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Белый матовый</th>
            <th>Белый глянец</th>
            <th>Металлик</th>
            <th>Металлик матовый</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Кассета потолочная</td>
            <td>•</td>
            <td>•</td>
            <td>•</td>
            <td>•</td>
        </tr>
    </tbody>
</table> 