<dl>
    <dt>Область применения:</dt>
    <dd>Открытые помещения офисного типа, холлы гостиниц, торговые центры, автосалоны, железнодорожные вокзалы, аэропорты </dd>
</dl>
<u>Преимущества дизайнерского потолка «SET ISLAND»:</u>
<dl>
    <dt>Зонирование помещения</dt>
    <dd>В больших и открытых помещениях применение потолков «SET ISLAND» позволяет выделить отдельные зоны: ресепшн, барная стойка, бюро информации, переговорные зоны. </dd>
    <dt>Акустический эффект</dt>
    <dd>Потолок «SET ISLAND» корректирует акустическую среду в помещении, способствуя устранению посторонних шумов, повышению разборчивости речи, устранению эха, создавая комфортные условия для работы и общения. </dd>
    <dt>Оригинальность дизайна</dt>
    <dd>Потолок «SET ISLAND» может выступать как дополнительным декоративным элементом при наличии облицовки потолочной зоны, так и основным модулем, выполняющим функцию изменения архитектуры потолочного пространства. </dd>
    <dt>Универсальность</dt>
    <dd>Готовые потолочные модули размером 1200х2400 мм, 1800х2400 мм, 1800х3000 мм позволят подобрать оптимальный вариант для помещения любого типа и назначения. </dd>
</dl>
<strong>Описание:</strong>
<ul>
    <li>Потолок «SET ISLAND» представляет собой готовое потолочное решение модульного типа размерного ряда 1200х2400 мм, 1800х2400 мм, 1800х3000 мм</li>
    <li>Потолок собран из алюминиевых кассетных панелей «Албес» 600х600 мм на скрытой подвесной системе. Боковые и угловые панели имеют кромку высотой 120 мм, скрывающую систему крепления модуля к черновому потолку</li>
    <li>В зависимости от желания заказчика размещать/не размещать дополнительное точечное освещение кассеты выполняются с готовым отверстием под точечный светильник или без него</li>
    <li>По запросу клиента кассеты могут быть проперфорированы, диаметр перфорации 1,5/2,0/3,0 мм </li>
    <li>Решение включает в себя весь перечень крепежных элементов, необходимых для сбора и закрепления модуля </li>
    <li>Для удобства транспортировки поставляется в разобранном виде в гофрокоробе. Инструкция по сборке и монтажа вложена в гофрокороб </li>
</ul>
<dl>
    <dt>Возможности цветового исполнения:</dt>
    <dd>Белый матовый, металлик матовый, светло-бежевый *Под заказ любой цвет по RAL</dd>
</dl>
<strong>Готовые потолочные решения «Албес» «SET ISLAND»</strong>
<br/><br/>
Модуль 1200х2400 мм
<table class="table">
    <tbody>
        <tr>
            <td>
                <img title="Модуль 1200x2400 мм" alt="" src="{{ asset('bundles/spbshop/img/si_modul_1200x2400_1.png') }}" height="217" width="300">
                <br/><a href="{{ asset('bundles/spbshop/img/si_modul_1200x2400.png') }}">Увеличить</a>
            </td>
            <td>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Позиция</th>
                            <th>Наименование</th>
                            <th>Расход на 1 модуль</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5</td>
                            <td>Подвес АП</td>
                            <td>18</td></tr>
                        <tr>
                            <td>4</td>
                            <td>Гребенка ВТ-600</td>
                            <td>13,02 м.п.</td></tr>
                        <tr>
                            <td>2</td>
                            <td>Панель угловая со светильником</td>
                            <td>4</td></tr>
                        <tr>
                            <td>3</td>
                            <td>Панель боковая</td>
                            <td>6</td></tr>
                        <tr>
                            <td>1</td>
                            <td>Панель со светильником</td>
                            <td>2</td></tr>
                        <tr>
                            <td>8</td>
                            <td>Анкерный подвес</td>
                            <td>4</td></tr>
                        <tr>
                            <td>6</td>
                            <td>Соединитель двухуровневый</td>
                            <td>4</td></tr>
                        <tr>
                            <td>7</td>
                            <td>Профиль ПП-1-2</td>
                            <td>3,2 м.п.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

Модуль 1800х2400 мм 
<table class="table">
    <tbody>
        <tr>
            <td>
                <img title="Модуль 1800x2400 мм" src="{{ asset('bundles/spbshop/img/si_modul_1800x2400_1.png')}}" height="190" width="300">
                <br/><a href="{{ asset('bundles/spbshop/img/si_modul_1800x2400.png') }}">Увеличить</a>
            </td>
            <td>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Позиция</th>
                            <th>Наименование</th>
                            <th>Расход на 1 модуль</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Подвес АП</td>
                            <td>15</td></tr>
                        <tr>
                            <td>2</td>
                            <td>Гребенка ВТ-600</td>
                            <td>9,42 м.п.</td></tr>
                        <tr>
                            <td>3</td>
                            <td>Панель угловая</td>
                            <td>2</td></tr>
                        <tr>
                            <td>4</td>
                            <td>Панель угловая со светильником</td>
                            <td>2</td></tr>
                        <tr>
                            <td>5</td>
                            <td>Панель боковая со светильником</td>
                            <td>2</td></tr>
                        <tr>
                            <td>6</td>
                            <td>Панель боковая</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>


Модуль 1800х3000 мм 
<table class="table">
    <tbody>
        <tr>
            <td>
                <img title="Модуль 1800x3000 мм" src="{{ asset('bundles/spbshop/img/si_modul_1800x3000_1.png') }}" height="220" width="300">
                <br/><a href="{{ asset('bundles/spbshop/img/si_modul_1800x3000.png') }}">Увеличить</a>
            </td>
            <td>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Позиция</th>
                            <th>Наименование</th>
                            <th>Расход на 1 модуль</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7</td>
                            <td>Гребенка ВТ-600</td>
                            <td>15,02 м.п.</td></tr>
                        <tr>
                            <td>3</td>
                            <td>Подвес АП, L=1м.п.</td>
                            <td>22</td></tr>
                        <tr>
                            <td>1</td>
                            <td>Панель боковая</td>
                            <td>6</td></tr>
                        <tr>
                            <td>2</td>
                            <td>Панель боковая со светильником</td>
                            <td>2</td></tr>
                        <tr>
                            <td>5</td>
                            <td>Панель угловая со светильником</td>
                            <td>4</td></tr>
                        <tr>
                            <td>4</td>
                            <td>Панель</td>
                            <td>1</td></tr>
                        <tr>
                            <td>6</td>
                            <td>Панель со светильником</td>
                            <td>2</td></tr>
                        <tr>
                            <td>9</td>
                            <td>Анкерный подвес</td>
                            <td>6</td></tr>
                        <tr>
                            <td>10</td>
                            <td>Соединитель двухуровневый</td>
                            <td>6</td></tr>
                        <tr>
                            <td>8</td>
                            <td>Профиль ПП-1-2</td>
                            <td>4,8 м.п.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
