<ul>
    <li><a href="#pp" title="Профили потолочные (ПП)">Профили потолочные (ПП)</a></li>
    <li><a href="#pnp" title="Профиль потолочный направляющий (ППН)">Профиль потолочный направляющий(ПНП)</a></li>
    <li><a href="#pn" title="Профиль направляющий (ПН)">Профиль направляющий (ПН)</a></li>
    <li><a href="#ps" title="Профиль стоечный (ПС)">Профиль стоечный (ПС)</a></li>
    <li><a href="#pne" title="Профиль направляющий экономичный (ПНЭ)">Профиль направляющий экономичный (ПНЭ)</a></li>
    <li><a href="#pse" title="Профиль стоечный экономичный (ПCЭ)">Профиль стоечный экономичный (ПCЭ)</a></li>
</ul>
<h3>
    <a id="pp" name="pp"></a>Профили потолочные (ПП)</h3>
<p>
    С-образный профиль потолочный предназначен для формирования каркаса подвесных потолков и облицовки стен. Полки и спинка профиля имеют по три канавки для центровки ввинчиваемого шурупа и предают ему дополнительную жесткость. Крепление ПП-профиля к несущему основанию (перекрытию) осуществляется при помощи специальных подвесов, основными среди которых являются прямой подвес и подвес с зажимом. Для установки подвеса с зажимом края полок профиля загнуты внутрь и служат в качестве упора.
</p>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_4300_pp60x27.png') }}" title="Профиль для гипсокартона потолочный ПП 60х27"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт. (м. п.)</td>
                    <td>432 (1296)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>780х400х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_7575_pp47x17.png') }}" title="Профиль для гипсокартона потолочный ПП-1-1 47х17"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт. (м. п.)</td>
                    <td>600 (1800)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>800х360х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pp47x26.png') }}" title="Профиль для гипсокартона потолочный ПП-1-2 47х26"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт. (м. п.)</td>
                    <td>240 (720)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>800х420х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>

<h3>
    <a id="pnp" name="pnp"></a>Профиль потолочный направляющий(ППН)</h3>
<p>
    Профиль потолочный направляющий служит в качестве направляющей ПП-профилей 60х27 при монтаже каркаса подвесного потолка, а также облицовки. При монтаже каркаса подвесного потолка ППН крепится по периметру помещения. В случае установки каркаса облицовки профиль крепится к полу и потолку.
</p>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_8755_ppn27h28.png') }}" title="Профиль потолочный направляющий ППН 27х28"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>640 (1920)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>575х440х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_ppn20x20.png') }}" title="Профиль потолочный направляющий ППН 20x20"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</td>
                    <th>Значение</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,40; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>1200 (3600)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>600х400х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_ppn30x20.png') }}" title="Профиль потолочный направляющий ППН 30x20"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,40; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>640 (1920)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>575х340х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<h3><a id="pn" name="pn"></a>Профиль направляющий (ПН)</h3>
<p>
    Профили направляющие имеют С-образную форму и служат в качестве направляющих для стоечных профилей, а также для устройства перемычек между ними в каркасах перегородок и облицовок. Монтируются в паре с соответствующим по размеру профилем ПС.
</p>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pn2.png') }}" title="Профиль направляющий ПН-2 50х40"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,40; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>750х480х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pn4.png') }}" title="Профиль направляющий ПН-4 75x40"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,40; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>900х600х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pn6.png') }}" title="Профиль направляющий ПН-6 100x40"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>240 (720)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>1000х480х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<h3><a id="ps" name="ps"></a>Профиль стоечный (ПС)</h3>
<p>
    Стоечные профили имеют С-образную форму и служат как правило в качестве вертикальных стоек каркасов, предназначенных для гипсокартонных перегородок и облицовок. Монтируется стоечный профиль в паре с соответствующим по размеру направляющим профилем.
</p>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_ps2.png') }}" title="Профиль стоечный ПС-2 50х50"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>875х620х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_ps4.png') }}" title="Профиль стоечный ПС-4 75х50"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>288 (864)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>960х620х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_ps6.png') }}" title="Профиль стоечный ПС-6 100x50"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <tbody>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>240 (720)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>1050х600х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>

<h3><a id="pne" name="pne"></a>Профиль направляющий экономичный (ПНЭ)</h3>
<p>
    Профили направляющие имеют С-образную форму и служат в качестве направляющих для стоечных профилей, а также для устройства перемычек между ними в каркасах перегородок и облицовок. Монтируются в паре с соответствующим по размеру профилем ПС.
</p>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pne2.png') }}" title="Профиль направляющий экономичный ПНЭ-2 50х25"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,40; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>750х300х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pne3.png') }}" title="Профиль направляющий экономичный ПНЭ-3 60х25"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>780х375х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pne4.png') }}" title="Профиль направляющий экономичный ПНЭ-4 75х25"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>900х375х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pne6.png') }}" title="Профиль направляющий экономичный ПНЭ-6 100х25"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,40; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>240 (720)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>800х375х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<h3><a id="pse" name="pse"></a>Профиль стоечный экономичный (ПСЭ)</h3>

<p>
    Стоечные профили имеют С-образную форму и служат как правило в качестве вертикальных стоек каркасов, предназначенных для гипсокартонных перегородок и облицовок. Монтируется стоечный профиль в паре с соответствующим по размеру направляющим профилем.
</p>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pse2.png') }}" title="Профиль стоечный экономичный ПСЭ-2 50x35"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>850х440х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pse3.png') }}" title="Профиль стоечный экономичный ПСЭ-3 60x35"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>860х525х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pse4.png') }}" title="Профиль стоечный экономичный ПСЭ-4 75x35"></li>
    <li>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,50</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>360 (1080)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>900х525х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>
<ul class="inline">
    <li><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/651_pse6.png') }}" title="Профиль стоечный экономичный ПСЭ-6 100x35"></li>
    <li>     
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Показатель</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Длина, мм</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>Толщина, мм</td>
                    <td>0,45; 0,55</td>
                </tr>
                <tr>
                    <td>Упаковка, шт (м. п.)</td>
                    <td>240 (720)</td>
                </tr>
                <tr>
                    <td>Размер упаковки, мм.</td>
                    <td>800х525х3000</td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>