<p>
    Стремительная застройка городского пространства современными зданиями и сооружениями
    требует от производителей новых технических решений при разработке материалов 
    для облицовки фасада. Данные требования включают в себя не только применение 
    новых материалов, широкую гамму цветовых решений лакокрасочных покрытий, современную 
    геометрию, но и наличие элементов оформления оконных и арочных проемов, входных 
    групп, разнообразие типоразмеров, цветового исполнения.
</p>
<h5>Преимущества:</h5>
<ul>
    <li>широкий выбор типоразмеров панелей</li>
    <li>использование цветопокрытий с дополнительными светоотражающими (преломляющими) способностями</li>
    <li>уникальные решения по цветам, цветоимитациям и фактурам металла для обновляемого фасада</li>
    <li>использование просечно-вытяжной сетки для изготовления реечных панелей</li><li>возможность изготовления угловых и других сложных панелей</li>
    <li>наличие элементов для оформления проемов, входных групп</li>
    <li>профиль имеет отличное сопротивление атмосферному влиянию, долговечное декоративное</li>
    <li>покрытие и является морозостойкой, водостойкой, не электризуемой и безвредной для здоровья поверхностью</li>
    <li>пожаробезопасность</li>
</ul>
<h5>Описание:</h5>
<ul>
    <li>Система реечного вентилируемого фасада «Албес» представляет собой навесную металлическую конструкцию – защитный экран, выполненный из реечных панелей, и несущего профиля-гребенки.</li>
    <li>Рейка путем защелкивания надежно закрепляется в несущий профиль-гребенку (при необходимости рейку можно обратно снять без повреждений).</li>
    <li>Последующая рейка становится в паз предыдущей, закрепляясь на гребенке, образует с предыдущей рейкой прочный замок.</li>
</ul>
<p>
    <strong>Поперечный и продольный профиль рейки и гребенки подобраны таким образом, что:</strong>
<ul>
    <li>с одной стороны - облицовочная конструкция имеет единый и прочный характер, предотвращая попадание влаги внутрь системы и срыв рейки с гребенки,</li>
    <li>с другой стороны – имеет необходимые зазоры и изгибы (компенсаторы) для поглощения термических и механических деформаций, возникающих при монтаже и эксплуатации фасадной системы в целом.</li>
</ul>
</p>

<p>
    <strong>Технические параметры:</strong>
</p>
<ul>
    <li>Металлические профили производятся из алюминиевой ленты толщиной до 0,8 мм или тонколистовой оцинкованной стали толщиной до 0,6 мм с различными видами декоративных покрытий, выполненных в заводских условиях</li>
    <li>Стандартная длина реечных панелей составляет 3 и 4 м, под заказ до 6 м</li>
    <li>Ширина панелей варьируется от 90 до 320 мм</li>
</ul>
<ul>
    <li><a href="#pp">Обшивка стен рейкой с закрытым стыком</a></li>
    <li><a href="#pnp">Обшивка стен рейкой с декоративным пазом</a></li>
    <li><a href="#pn">Обшивка стен рейкой опирающегося типа с декоративным пазом</a></li>
    <li><a href="#ps">Обшивка стен рейкой опирающегося типа с закрытыми стыками</a></li>
    <li><a href="#pne">Обшивка стен рейкой с увеличенной жесткостью</a></li>
</ul>

<h4><a id="pp" name="pp"></a>Обшивка стен рейкой с закрытым стыком</h4>
<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/682_55.1.png') }}">
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">A90C</td>
            <td>Рейка</td>
            <td>A90/C</td>
            <td>90</td>
            <td>11,11 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-2-90</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td rowspan="2">A140C</td>
            <td>Рейка</td>
            <td>A140/C</td>
            <td>140</td>
            <td>7,14 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-2-140</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">A190C</td>
            <td>Рейка</td>
            <td>A190/C</td>
            <td>190</td>
            <td>5,26 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-2-190</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
    </tbody>
</table>
<h4><a id="pnp" name="pnp"></a>Обшивка стен рейкой с декоративным пазом</h4>
<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/682_56.1.png') }}">
</p>           

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th`>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">A100C</td>
            <td>Рейка</td>
            <td>A90/C</td>
            <td>100</td>
            <td>10 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-2-100</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td rowspan="2">A150C</td>
            <td>Рейка</td>
            <td>A140/C</td>
            <td>150</td>
            <td>6,67 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-2-150</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">A200C</td>
            <td>Рейка</td>
            <td>A190/C</td>
            <td>200</td>
            <td>5,0 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-2-100</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
    </tbody>
</table>

<h4><a id="pn" name="pn"></a>Обшивка стен рейкой опирающегося типа с декоративным пазом</h4>
<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/682_57.1.png') }}">
</p>           
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">A160CP</td>
            <td>Рейка</td>
            <td>A150/CP</td>
            <td>160</td>
            <td>6,25 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-5</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td rowspan="2">A240CP</td>
            <td>Рейка</td>
            <td>A230/CP</td>
            <td>240</td>
            <td>4,17 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-5</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">A320CP</td>
            <td>Рейка</td>
            <td>A310/CP</td>
            <td>320</td>
            <td>3,13 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-5</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
    </tbody>
</table>

<h4><a id="ps" name="ps"></a>Обшивка стен рейкой опирающегося типа с закрытыми стыками</h4>
<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/682_3343_58.1.png') }}">
</p>           
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <td>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">A160CT</td>
            <td>Рейка</td>
            <td>A160/CT</td>
            <td>160</td>
            <td>6,25 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-5</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td rowspan="2">A240CT</td>
            <td>Рейка</td>
            <td>A240/CT</td>
            <td>240</td>
            <td>4,17 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-5</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">A320CT</td>
            <td>Рейка</td>
            <td>A320/CT</td>
            <td>320</td>
            <td>3,13 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-5</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
    </tbody>
</table>

<h4><a id="pne" name="pne"></a>Обшивка стен рейкой с увеличенной жесткостью</h4>
<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/682_59.1.png') }}">
</p>           
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">AF150C</td>
            <td>Рейка</td>
            <td>AF150/C</td>
            <td>150</td>
            <td>6,67 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-9-150</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">2</td>
            <td rowspan="2">AF200C</td>
            <td>Рейка</td>
            <td>AF200/C</td>
            <td>200</td>
            <td>5 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-9-100</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">3</td>
            <td rowspan="2">AF250C</td>
            <td>Рейка</td>
            <td>AF250/C</td>
            <td>250</td>
            <td>4 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-9-125</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td rowspan="2">4</td>
            <td rowspan="2">AF300C</td>
            <td>Рейка</td>
            <td>AF300/C</td>
            <td>300</td>
            <td>3,33 шт./п.м. (дл. 1,0 м)</td>
        </tr>
        <tr>
            <td>Гребенка</td>
            <td>ВТ-9-100(150)</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
    </tbody>
</table>
