<strong>Преимущества:</strong>
<ul>
    <li>Широкий выбор дизайна потолочного пространства.</li>
    <li>Простота сборки. </li>
    <li>Оптимальные акустические показатели за счет перфорации. Улучшенные акустические характеристики касcет достигаются посредством их перфорации и специальной акустической подложки, которая укладывается на внутреннюю поверхность кассеты. </li>
    <li>Легкий демонтаж кассет позволяет получить доступ в запотолочное пространство к системам вентиляции и различным системам коммуникациям. </li>
    <li>В качестве дополнительного и декоративного покрытия кассет используется полиэстер, который надежно защищает изделие от механических повреждений и внешних воздействий, гарантирует высокую стойкость цвета, а также является надежной защитой против коррозийного воздействия. </li>
</ul>
<strong>Описание:</strong>
<p>
    Кассеты с открытой подвесной системой производятся с четыремя типами кромок следующих размеров:
</p>
Кассетные потолки с кромкой TEGULAR
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="2" width="50%">Подвесная система T-24</th>
            <th colspan="2">Подвесная система Т-24 и Т-15</th>
        </tr>
        <tr>
            <th>Вид кромки</th>
            <th>Модули, мм</th>
            <th>Вид кромки</th>
            <th>Модули, мм</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img title="Кромка Tegular 45" alt="Кассетные потолки с кромкой Tegular 45" src="{{ asset('bundles/spbshop/img/697_tegular.png') }}"></td>
            <td>600x600</td>
            <td><img title="Кромка Tegular 90" alt="Кассетные потолки с кромкой Tegular 90" src="{{ asset('bundles/spbshop/img/697_tegular2.png') }}"></td>
            <td>300х300<br>300х600<br>600х600<br>300х1200<br>600х1200<br>1200х1200</td>
        </tr>
    </tbody>
</table>

Кассетные потолки с кромкой BOARD под подвесную систему Т-15 и Т-24
<table class="table table-bordered">
    <thead>
        <tr>
            <th  width="50%">Вид кромки</th>
            <th>Модули, мм</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img title="Кромка Board" alt="Кассетные потолки с кромкой Board" src="{{ asset('bundles/spbshop/img/697_board.png') }}"></td>
            <td>300х300<br>300х600<br>600х600<br>300х1200<br>600х1200<br>1200х1200</td>
        </tr>
    </tbody>
</table>

Кассетные потолки с кромкой LINE под подвесную систему Т-15 и Т-24
<table class="table table-bordered">
    <thead>
        <tr>
            <th width="50%">Вид кромки</th>
            <th>Модули, мм</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img title="Кромка Line" alt="Кассетные потолки с кромкой Line" src="{{ asset('bundles/spbshop/img/697_line.png') }}"></td>
            <td>600х600</td>
        </tr>
    </tbody>
</table>

Кассетные потолки с кромкой VECTOR под подвесную систему Т-24
<table class="table table-bordered">
    <thead>
        <tr>
            <th width="50%">Вид кромки</th>
            <th>Модули, мм</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img title="Кромка Vector" alt="Кассетные потолки с кромкой Vector" src="{{ asset('bundles/spbshop/img/697_vector.png') }}"></td>
            <td>300х300<br>300х600<br>600х600<br>300х1200<br>600х1200<br>1200х1200</td>
        </tr>
    </tbody>
</table>

<strong>Технические характеристики:</strong>
<ul>
    <li>Кассеты производятся из алюминия или оцинкованной стали с различными видами перфорации, что существенно расширяет сферу их применения и позволяет оптимально решать вопросы звукоизоляции. </li>
    <li>В качестве каркаса для кассетных потолков с открытой подвесной системой используется подвесная система марки Т-15/24. </li>
    <li><span class="text-error">Внимание!</span> Кассетные потолки для подвесной системы Т-15 и Т-24 различаются размерами и геометрией. Кассетные потолки с модулем 1200х1200 производятся с перфорацией.</li>
</ul>
<br/>
<strong>Расчет элементов системы для 1 м<sup>2</sup> для кассетных потолков с кромкой Board и Tegular</strong>
<table class="table table-bordered table-condensed">
    <tbody>
        <tr>
            <th rowspan="2">№ п.п.</th>
            <th rowspan="2">Марка системы</th>
            <th rowspan="2">Марка&nbsp;изделия</th>
            <th rowspan="2">Модуль кассеты, мм.</th>
            <th colspan="7">Расход на 1 м2</th>
        </tr>
        <tr>
            <td><small>Кассета&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></td>
            <td><small>Несущий профиль Т24-29 (Т24-38) модуль 3700 мм.</small></td>
            <td><small>Поперечный профиль Т24-29 (Т24-38) модуль 1200 мм.</small></td>
            <td><small>Поперечный профиль Т24-29 (Т24-38) модуль 600 мм.</small></td>
            <td><small>Поперечный профиль Т24-29 (Т24-38) модуль 300 мм.</small></td>
            <td><small>Уголок PL 19x24 (PLL)</small></td>
            <td><small>Подвес&nbsp;АП&nbsp;&nbsp;</small></td>
        </tr>
        <tr>
            <td>1а</td>
            <td rowspan="12">Кассета «TEGULAR»</td>
            <td>AP 300x300 A6</td>
            <td>300х300</td>
            <td rowspan="2">11,11 шт.</td>
            <td rowspan="12">0,83 м. п.</td>
            <td rowspan="2">-</td>
            <td rowspan="2">3,33 м. п.</td>
            <td rowspan="2">1,67 м. п.</td>
            <td rowspan="12">по расчету</td>
            <td rowspan="2">1,39 комп.</td>
        </tr>
        <tr>
            <td>1б</td>
            <td>AP 300x300 A8</td>
            <td>300х300</td>
        </tr>
        <tr>
            <td>2а</td>
            <td>AP 300x600 A6</td>
            <td>300x600</td>
            <td rowspan="2">5,56 шт.</td>
            <td rowspan="2">1,67 м. п.</td>
            <td rowspan="2">3,33 м. п.</td>
            <td rowspan="10">-</td>
            <td rowspan="10">0,83 комп.</td>
        </tr>
        <tr>
            <td>2б</td>
            <td>AP 300x600 A8</td>
            <td>300x600</td>
        </tr>
        <tr>
            <td>3а</td>
            <td>AP 300x1200 A6</td>
            <td>300х1200</td>
            <td rowspan="2">2,78 шт.</td>
            <td rowspan="2">3,33 м. п.</td>
            <td rowspan="2">-</td>
        </tr>
        <tr>
            <td>3б</td>
            <td>AP 300x1200 A8</td>
            <td>300х1200</td>
        </tr>
        <tr>
            <td>4а</td>
            <td>AP 600 A6</td>
            <td>600х600</td>
            <td rowspan="2">2,78 шт.</td>
            <td rowspan="2">1,67 м. п.</td>
            <td rowspan="2">0,83 м. п.</td>
        </tr>
        <tr>
            <td>4б</td>
            <td>AP 600 A8</td>
            <td>600х600</td>
        </tr>
        <tr>
            <td>5а</td>
            <td>AP 600x1200 A6</td>
            <td>600х1200</td>
            <td rowspan="2">1,39 шт.</td>
            <td rowspan="2">1,67 м. п.</td>
            <td rowspan="2">-</td>
        </tr>
        <tr>
            <td>5б</td>
            <td>AP 600x1200 A8</td>
            <td>600х1200</td>
        </tr>
        <tr>
            <td>6а</td>
            <td>AP 1200 A6</td>
            <td>1200х1200</td>
            <td rowspan="2">0,7 шт.</td>
            <td rowspan="2">0,83 м. п.</td>
            <td rowspan="2">
                -</td>
        </tr>
        <tr>
            <td>6б</td>
            <td>AP 1200 A8</td>
            <td>1200х1200</td>
        </tr>
        <tr>
            <td>1в</td>
            <td rowspan="5">
                Кассета «BOARD»</td>
            <td>АР 300х300</td>
            <td>300х300</td>
            <td>11,11 шт.</td>
            <td rowspan="5">
                0,83 м. п.</td>
            <td>-</td>
            <td>3,33 м. п.</td>
            <td>1,67 м. п.</td>
            <td rowspan="5">
                по расчету</td>
            <td>1,39 комп.</td>
        </tr>
        <tr>
            <td>2в</td>
            <td>АР 300х600</td>
            <td>300х600</td>
            <td>5,56 шт.</td>
            <td>1,67 м. п.</td>
            <td>3,33 м. п.</td>
            <td rowspan="4">
                -</td>
            <td rowspan="4">
                0,83 комп.</td>
        </tr>
        <tr>
            <td>3в</td>
            <td>АР 300х1200</td>
            <td>300х1200</td>
            <td>2,78 шт.</td>
            <td>3,33 м. п.</td>
            <td>-</td>
        </tr>
        <tr>
            <td>4в</td>
            <td>АР 600</td>
            <td>600х600</td>
            <td>2,78 шт.</td>
            <td>1,67 м. п.</td>
            <td>0,83 м. п.</td>
        </tr>
        <tr>
            <td>5в</td>
            <td>АР 600х1200</td>
            <td>600х1200</td>
            <td>1,39 шт.</td>
            <td>1,67 м. п.</td>
            <td>-</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Кассета «LINE»</td>
            <td>AP 600</td>
            <td>600x600</td>
            <td>2,78 шт.</td>
            <td>0,83 м. п.</td>
            <td>1,67 м. п.</td>
            <td>0,83 м. п.</td>
            <td>-</td>
            <td>по расчету</td>
            <td>0,83 комп.</td>
        </tr>
    </tbody>
</table>
<strong>Расчет элементов системы для 1 м<sup>2</sup> для кассетных потолков с кромкой Vector</strong>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Марка системы</th>
            <th>Наименование изделия</th>
            <th>Марка изделия</th>
            <th>Модуль, мм</th>
            <th>Расход на 1 м <sup>2</sup></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td rowspan="7">AP600 Vector</td>
            <td>Кассета</td>
            <td>AP600Vector</td>
            <td>600x600</td>
            <td>2,78 шт.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Несущий профиль</td>
            <td>T24-29 (T24-38)</td>
            <td>3700</td>
            <td>0,45 шт.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Уголок фиксирующий</td>
            <td>15х15</td>
            <td>3700</td>
            <td>0,6</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Уголок</td>
            <td>PL - 19x24</td>
            <td>&nbsp;</td>
            <td>по расчету</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Подвес</td>
            <td>АП</td>
            <td>&nbsp;</td>
            <td>1,39 компл.</td>
        </tr>
    </tbody>
</table>

