<table class="table">
    <tbody>
        <tr>
            <td><img class="thumbnail" src="{{ asset('bundles/spbshop/img/836_4267_580_3.jpg') }}"></td>
            <td>
                <strong>Размер видимой части кассет:</strong>
                <ul>
                    <li>580х590 мм;</li>
                    <li>590х600 мм - с учётом рустов.</li>
                </ul>
                <p>Рекомендуемая толщина металла 0,9 мм. Кассета монтируется на гребёнку BT-2-100 PRIM.</p>
            </td>            
        </tr>
    </tbody>
</table>

<h5>Варианты исполнения</h5>
<p>Возможно исполнение с утеплением фасада и без утепления, по аналогии с фасадной рейкой.</p>
<table class="table">
    <tbody>
        <tr>
            <td>
                <img class="thumbnail" alt="Акустические материалы" src="{{ asset('bundles/spbshop/img/836_580_2.jpg') }}"></td>
            <td>
                <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/836_580_1.jpg') }}"></td>
        </tr>
    </tbody>
</table>

<h5>Разновидности кассет</h5>
<h6>Стандартная</h6>
<ul>
    <li>Толщина металла - 0,9 мм</li>
</ul>
<p><img class="thumbnail" src="{{ asset('bundles/spbshop/img/ak_580s_stand_(2).png') }}"></p>
<h6>Угловая наружняя</h6>
<ul>
    <li>А=50÷670 мм</li>
    <li>B=50÷670 мм</li>
    <li>A+B&gt;300 мм</li>
    <li>Толщина металла - 0,9 мм</li>
</ul>
<p><img class="thumbnail" src="{{ asset('bundles/spbshop/img/ak_580s_ugol_narujn.png') }}"></p>
<h6>Угловая внутренняя</h6>
<ul>
    <li>А=50÷640 мм</li>
    <li>B=50÷640 мм</li>
    <li>A+B&gt;300 мм</li>
    <li>Толщина металла - 0,9 мм</li>
</ul>
<p><img class="thumbnail" src="{{ asset('bundles/spbshop/img/ak_580s_ugol_vnutr_(1).png') }}"></p>
