<p>
    Система навесных фасадов с воздушным зазором AFS-1000 предназначена для отделки 
    и утепления зданий различного назначения при их возведении, капитальном ремонте 
    и реконструкции, расположенных во всех ветровых районах.
</p>
<p>
    Система применяется для облицовки общественных, промышленных и жилых зданий 
    высотой до 75 метров. Конструкция предназначена для облицовки стен зданий из 
    следующих материалов: красного, силикатного и пустотелого кирпича, пенобетона, 
    газобетона, монолитного железобетона, железобетонных панелей с объемным весом 
    не менее 600 кгc/м<sup>3</sup>.
</p>
<p>
    Конструкция навесных вентилируемых фасадов с воздушным зазором состоит из следующих элементов:
</p>
<p>
    <img class="thumbnail" alt="Система навесного вентилируемого фасада AFS 1000" src="{{ asset('bundles/spbshop/img/652_fasad.png') }}">
</p>
<p>
    <strong>Декоративный экран</strong>
</p>
<p>
    Декоративный экран выполняет архитектурные функции, а также защищает слой теплоизоляции и несущие конструкции здания от атмосферных воздействий. При повреждении поддается быстрому ремонту, легко моется, позволяет устранять повреждения без видимых существенных последствий. Декоративный экран представляет собой штампованные панели коробчатого сечения (кассеты) выполненные из оцинкованной стали толщиной 1,0-2,0 мм. Кассеты используются двух типов: AКФ 1000 и АКФ 2000, с открытым и скрытым типом крепления соответственно.
</p>
<table class="table table-condensed">
    <tbody>
        <tr>
            <td><strong>АКФ 1000</strong><br/>открытый тип крепления</td>
            <td><strong>АКФ 2000</strong><br/>скрытый тип крепления</td>
        </tr>
        <tr>
            <td><img class="thumbnail" alt="АКФ 1000" src="{{ asset('bundles/spbshop/img/652_6685_akf1000.png') }}"></td>
            <td><img class="thumbnail" alt="АКФ 2000" src="{{ asset('bundles/spbshop/img/652_akf2000.png') }}"></td>
        </tr>
        <tr>
            <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/652_7218_schema_akf1000.png') }}"></td>
            <td><img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/652_9447_schema_akf2000.png') }}"></td>
        </tr>
        <tr>
            <td>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th  rowspan="2">№</th>
                            <th  rowspan="2">Обозначение</th>
                            <th colspan="2">Стандартная кассета</th>
                        </tr>
                        <tr>
                            <th>h, мм.</th>
                            <th>b, мм</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">1</td>
                            <td rowspan="2">АКФ 1000 рулон 1250</td>
                            <td>300-1150</td>
                            <td>300-2500</td>
                        </tr>
                        <tr>
                            <td>1150-2500</td>
                            <td>300-1150</td>
                        </tr>
                        <tr>
                            <td rowspan="2">2</td>
                            <td rowspan="2">АКФ 1000 рулон 1500</td>
                            <td>300-1400</td>
                            <td>300-2500</td>
                        </tr>
                        <tr>
                            <td>1400-2500</td>
                            <td>300-1400</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th  rowspan="2">№</th>
                            <th  rowspan="2">Обозначение</th>
                            <th colspan="2">Стандартная кассета</th>
                        </tr>
                        <tr>
                            <th>h, мм.</th>
                            <th>b, мм</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">1</td>
                            <td rowspan="2">АКФ 2000 рулон 1250</td>
                            <td>300-1110</td>
                            <td>300-2500</td>
                        </tr>
                        <tr>
                            <td>1110-2500</td>
                            <td>300-1150</td>
                        </tr>
                        <tr>
                            <td rowspan="2">2</td>
                            <td rowspan="2">АКФ 2000 рулон 1500</td>
                            <td>300-1360</td>
                            <td>300-2500</td>
                        </tr>
                        <tr>
                            <td>1360-2500</td>
                            <td>300-1400</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<p><span class="text-error"><b>!</b></span> Диагональ развертки не должна превышать 2800 мм.</p>
<p>
    Кассеты АКФ 1000 для открытого типа крепления представляют собой объемные 
    металлические панели с отбортованными с четырех сторон кромками и отгнутыми 
    наружу фланцами. При монтаже кассет открытого типа крепления образуются 
    вертикальные и горизонтальные швы (русты) шириной 20 мм.
</p>
<p>
    Кассеты АКФ 2000 для скрытого крепления представляют собой металлические 
    панели с отбортованными с четырех сторон кромками и замковой частью вверху и внизу.
</p>
<p><strong>Воздушный зазор</strong></p>
<p>
    Воздушный зазор необходим для обеспечения вентиляции подоблицовочного пространства, 
    где обычно скапливается влага. Воздушный зазор работает по принципу 
    «дымовой трубы» — благодаря перепаду давлений в канале воздух начинает двигаться 
    снизу вверх, в результате этого движения из утеплителя и несущей конструкции 
    удаляется внутренняя и атмосферная влага, что позволяет повысить срок службы 
    ограждающих конструкций здания и уменьшить теплопотери через них.
</p>
<p><strong>Обрамляющие элементы</strong></p>
<p>
    Обрамляющие элементы изготавливаются путем нарезки заданной длины и гибки 
    материала, толщиной 0,55 – 1,0 мм, и служат для:
</p>
<ol>
    <li>Обеспечения правильной и долгосрочной работы системы вентилируемого утепленного фасада;</li>
    <li>Предотвращения попадания воды и загрязняющих веществ внутрь системы вентилируемого фасада;</li>
    <li>Декоративного соединения плоскостей фасада, придания фасаду эстетической выразительности, обрамление стыков, и других деталей фасада, служат одним из инструментов создания архитектурного стиля здания в целом.</li>
</ol>
<p>
    Обрамляющие профили изготавливаются для каждого объекта индивидуально, по 
    заданным проектом размерам. К ним относятся элементы обрамления окон, цоколя, 
    парапета, входных групп, эркеров, балконов и т. д. Это так называемые отливы, 
    откосы, козырьки и т. д. Они выполняют функции облицовочной конструкции там, 
    где этого невозможно добиться облицовочной панелью в силу конструкционных или 
    эстетических требований, предъявляемых к системе вентилируемого утепленного фасада.
</p>
<p>
    Все вспомогательные и доборные элементы изготавливаются на европейском гибочном 
    оборудовании, управляемом компьютерной системой по составленной оператором 
    программе. Данная технология производства работ позволяет без особого труда 
    и с большой точностью выполнить гибы плоскостей с различным заданным углом 
    в любой последовательности, исполняя профили самых сложных конфигураций. 
    Специалисты, совмещая конструкторские и инженерные знания с опытом монтажа 
    производимых элементов, минимизируют сложность конфигурации профиля и количество 
    операций при его производстве, находя простые и отвечающие требованиям правильной 
    работы системы в целом решения для каждого конкретного узла конструкции вентилируемого фасада.
</p>
<p>Обрамляющие элементы изготавляваются из оцинкованной стали с полимерным покрытием в цвет фасада.</p>
<p><strong>Крепежные детали</strong></p>
<p>
    Крепежные детали осуществляют механическое соединение элементов несущего каркаса и крепление облицовочной кассеты к несущему каркасу. В качестве крепежа используются:</p>
<ol>
    <li>Дюбели распорные, анкера для крепления кронштейнов, ведущих фирм-производителей, имеющих соответствующий сертификат соответствия;</li>
    <li>Cаморезы, заклепки для крепления элементов несущего каркаса между собой, отечественных и импортных производителей, имеющих соответствующий сертификат;</li>
    <li>Тарельчатые дюбели для крепления минераловатных плит утеплителя, ведущих производителей, имеющих соответствующий сертификат.</li>
</ol>
<p><strong>Анкеровочные элементы</strong></p>
<p>
    Анкеровочные элементы обеспечивают механическое анкерное крепление кронштейнов 
    несущего каркаса к стене. Диаметр дюбелей и анкеров подбирается в зависимости 
    от материала стены, и выдергивающей нагрузки.
</p>
<p><strong>Утеплитель</strong></p>
<p>
    Утеплитель обеспечивает оптимальный комфортный температурный режим внутри здания, 
    уменьшает температурные колебания в ограждающих конструкциях здания, сдвигает 
    точку росы из толщи ограждающей конструкции за пределы внешних стен, что позволяет 
    предотвратить образование конденсата внутри ограждающей конструкции следовательно 
    увеличивает срок службы здания. В качестве утеплителя используются жесткие и твердые 
    плиты теплоизоляции, изготовленные из влагостойкой и водоотталкивающей минеральной ваты. 
    Наружная сторона поверхности утеплителя покрывается ветро-влагозащитной 
    паропроницаемой мембраной, для предотвращения:
</p>
<ul>
    <li>выветривания волокон утеплителя;</li>
    <li>увлажнения утеплителя, в случае попадания за декоративный экран влаги;</li>
    <li>удаления внутреннего конденсата.</li>
</ul>
<p><strong>Несущий каркас</strong></p>
<p>
    Несущий каркас состоит из прокатных и штампованных профилей. Каркас обеспечивает 
    выравнивание размерных отклонений, нивелирует неровности несущих стен здания, 
    образует необходимое расстояние между утеплителем и облицовкой. Кронштейны и 
    несущие элементы воспринимают на себя статическую нагрузку от веса облицовки, 
    а так же динамические нагрузки от ветрового давления и ветрового подсоса.
</p>
<p>В качестве подконструкции используется:</p>
<p><strong>Кронштейн стеновой АК</strong></p>
<p><img class="thumbnail" src="{{ asset('bundles/spbshop/img/652_7863_ak.png') }}"></p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>№ п. п.</th>
            <th>Наименование</th>
            <th>Длина кронштейна L, мм.</th>
            <th>a</th>
            <th>b</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>АК 70</td>
            <td>70</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>2</td>
            <td>АК 100</td>
            <td>100</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>3</td>
            <td>АК 120</td>
            <td>120</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>4</td>
            <td>АК 130</td>
            <td>130</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>5</td>
            <td>АК 150</td>
            <td>150</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>6</td>
            <td>АК 160</td>
            <td>160</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>7</td>
            <td>АК 170</td>
            <td>170</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>8</td>
            <td>АК 180</td>
            <td>180</td>
            <td>50</td>
            <td>50</td>
        </tr>
        <tr>
            <td>9</td>
            <td>АК 200</td>
            <td>200</td>
            <td>50</td>
            <td>50</td>
        </tr>
    </tbody>
</table>

<p><strong>Профиль вертикальный несущий</strong></p>
<p>
    <img class="thumbnail" alt="Профиль вертикальный несущий" src="{{ asset('bundles/spbshop/img/652_8796_pvn.png') }}">
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2">№ п. п.</th>
            <th rowspan="2">Наименование</th>
            <th rowspan="2">А, мм.</th>
            <th colspan="2">Длина профиля, мм.</th>
        </tr>
        <tr>
            <th>стандарт</th>
            <th>максимум</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ПВН</td>
            <td>40<</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ПВН</td>
            <td>60</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>ПВН</td>
            <td>70</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>ПВН</td>
            <td>80</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
    </tbody>
</table>

<p><strong>Профиль вертикальный Z-образный</strong></p>
<p>
    <img class="thumbnail" alt="Профиль вертикальный Z-образный" src="{{ asset('bundles/spbshop/img/652_8935_z.png') }}">
</p>    

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2">№ п. п.</th>
            <th rowspan="2">Наименование</th>
            <th colspan="2">Длина профиля, мм.</th>
        </tr>
        <tr>
            <th>стандарт</th>
            <th>максимум</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ПВП 30х20х40</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
    </tbody>
</table>

<p><strong>Профиль горизонтальный направляющий ПГН</strong></p>
<p>
    <img class="thumbnail" alt="Профиль горизонтальный направляющий ПГН" src="{{ asset('bundles/spbshop/img/652_9590_pgn.png') }}">
</p>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2">№ п. п.</th>
            <th rowspan="2">Наименование</th>
            <th rowspan="2">A, мм.</th>
            <th rowspan="2">В, мм.</th>
            <th colspan="2">Длина профиля, мм.</th>
        </tr>
        <tr>
            <th>стандарт</th>
            <th>максимум</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ПГН</td>
            <td>40</td>
            <td>40</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ПГН</td>
            <td>50</td>
            <td>50</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>ПГН</td>
            <td>40</td>
            <td>60</td>
            <td>3000</td>
            <td>6000</td>
        </tr>
    </tbody>
</table>