<strong>Преимущества:</strong>
<ul>
    <li>Кассетные потолки на скрытой подвесной системе обеспечивают идеальное пространственное решение интерьеров, простоту монтажа и легкий доступ в запотолочное пространство.</li>
</ul>
<strong>Технические характеристики:</strong>
<ul>
    <li>Кассеты производятся из алюминия и оцинкованной стали с различными видами перфорации и отличаются простой схемой сборки.</li>
    <li>Кассеты крепятся в направляющие (стрингер ВТ-600) путем защелкивания стенок кассет в гребенку.</li>
</ul>
<strong>Дополнительные возможности:</strong>
<ul>
    <li>По желанию заказчика возможно изготовление кассетных панелей из ПВС (ST10, ST20)</li>
</ul>
<strong>Схема монтажа</strong>
<br/>
<img class="thumbnail" src="{{ asset('bundles/spbshop/img/691_kasacb.png') }}" >
<br/><br/>
<strong>Расчет элементов системы для 1 м<sup>2</sup> при простом монтаже</strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2">№</th>
            <th rowspan="2">Марка изделия</th>
            <th rowspan="2">Типоразмер кассеты, мм.</th>
            <th>Кассета</th>
            <th>Стрингер ВТ-600</th>
            <th>Уголок PL-19x24 (PLL)</th>
            <th>Подвес АП</th>
        </tr>
        <tr>
            <td><img src="{{ asset('bundles/spbshop/img/644_9703_ac.jpg') }}" title="Кассета потолочная"></td>
            <td><img src="{{ asset('bundles/spbshop/img/713_stringer.png') }}" title="Стрингер"></td>
            <td><img src="{{ asset('bundles/spbshop/img/644_PL_78h32.jpg') }}" title="Периметральный уголок PL"></td>
            <td><img src="{{ asset('bundles/spbshop/img/644_podves.jpg') }}" title="Подвес"></td>
        </tr>
    </thead>
    <tbody>        
        <tr>
            <td>1</td>
            <td>AP 300 AC</td>
            <td>300x300</td>
            <td>11,11 шт.</td>
            <td>3,33 м. п.</td>
            <td rowspan="6">по периметру помещения</td>
            <td>2,78 комп.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>AP 300x600 AC</td>
            <td>300x600</td>
            <td>5,56 шт.</td>
            <td>1,67 м. п.</td>
            <td>1,39 комп.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>AP 300x1200 AC</td>
            <td>300x1200</td>
            <td>2,78 шт.</td>
            <td>3,33 м. п.</td>
            <td>2,78 комп.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>AP 600AC</td>
            <td>600x600</td>
            <td>2,78 шт.</td>
            <td>1,67 м. п.</td>
            <td>1,39 комп.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>AP 600x1200 AC</td>
            <td>600x1200</td>
            <td>1,39 шт.</td>
            <td>1,67 м. п.</td>
            <td>1,39 комп.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>AP 1200 AC</td>
            <td>1200x1200</td>
            <td>0,7 шт.</td>
            <td>0,75 м. п.</td>
            <td>0,56 комп.</td>
        </tr>
    </tbody>
</table>
   
<strong>Расчет элементов системы для 1 м<sup>2</sup> при усиленном монтаже</strong>
<table class="table table-bordered table-condensed table-striped">
    <tbody>
        <tr>
            <th rowspan="2">№</th>
            <th rowspan="2">Марка&nbsp;изделия</th>
            <th rowspan="2">Типоразмер касеты, мм</th>
            <th>Кассета&nbsp;&nbsp;</th>
            <th>Стрингер ВТ-600</th>
            <th>Уголок PL-19x24 (PLL)</th>
            <th>Профиль ПП-1-2</th>
            <th>Профиль ППН 27х28</th>
            <th>Соединитель 2-х уровневый для ПП-1-2</th>
            <th>Подвес анкерный</th>
            <th>Тяга подвеса</th>
        </tr>
        <tr>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img/675_644_9703_ac.jpg') }}" title="Кассета потолочная">
            </td>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img/675_713_stringer.jpg') }}" title="Стрингер">
            </td>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img/675_644_PL_78h32.jpg') }}" title="Периметральный уголок PL">
            </td>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img/675_3187_pp4726.jpg') }}">
            </td>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img/675_7800_2728.jpg') }}">
            </td>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img//675_4536_soed.jpg') }}">
            </td>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img/675_9473_anker.jpg') }}">
            </td>
            <td>
                <img alt="" src="{{ asset('bundles/spbshop/img/675_1741_spitsa.jpg') }}">
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>AP 300 AC</td>
            <td>300x300</td>
            <td>11,11 шт.</td>
            <td>
                
                    3,33 м. п.
            </td>
            <td rowspan="6">по расчету</td>
            <td rowspan="6">1 м. п.</td>
            <td rowspan="6">по расчету</td>
            <td>3,33 шт.</td>
            <td rowspan="6">1,56 шт.</td>
            <td rowspan="6">1,56 шт.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>AP 300x600 AC</td>
            <td>300x600</td>
            <td>5,56 шт.</td>
            <td>1,67 м. п.</td>
            <td>1,67 шт.</td>
        </tr>
        <tr>
            <td>3</td>
            <td>AP 300x1200 AC</td>
            <td>300x1200</td>
            <td>2,78 шт.</td>
            <td>3,33 м. п.</td>
            <td>3,33 шт.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>AP 600AC</td>
            <td>600x600</td>
            <td>2,78 шт.</td>
            <td>1,67 м. п.</td>
            <td>1,67 шт.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>AP 600x1200 AC</td>
            <td>600x1200</td>
            <td>1,39 шт.</td>
            <td>1,67 м. п.</td>
            <td>1,67 шт.</td>
        </tr>
        <tr>
            <td>6</td>
            <td>AP 1200 AC</td>
            <td>1200x1200</td>
            <td>0,7 шт.</td>
            <td>0,75 м. п.</td>
            <td>0,56 шт.</td>
        </tr>
    </tbody>
</table>