<strong>Область применения:</strong>
<ol>
    <li>бутики, торговые и выставочные залы;</li>
    <li>престижные офисы и приемные;</li>
    <li>залы ресторанов и холлы гостиниц;</li>
    <li>фойе концертных залов, театров и кинотеатров;</li>
    <li>аэропорты, железнодорожные и автовокзалы.</li>
</ol>


<strong>Описание:</strong>
<p>Потолок «Грильято» представляет собой объемную решётку, образованную
    U-образными алюминиевыми профилями, шириной 5, 10, 15 мм и высотой 30,
    32, 37, 40, 42, 47, 50 мм.</p>

<strong>Размер ячеек решетки:</strong>

<table class="table">
    <tbody>
        <tr>
            <td><img alt="Грильято CL15 - ячейка 50х50 мм." src="{{ asset('bundles/spbshop/img/635_50x50.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 60х60 мм." src="{{ asset('bundles/spbshop/img/635_60x60.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 75х75 мм." src="{{ asset('bundles/spbshop/img/635_75x75.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 86х86 мм." src="{{ asset('bundles/spbshop/img/635_86x86.png') }}"></td></tr>
        <tr>
            <td align="center">50х50 мм</td>
            <td align="center">60х60 мм</td>
            <td align="center">75х75 мм</td>
            <td align="center">86х86 мм</td></tr>
        <tr>
            <td><br></td>
            <td><br></td>
            <td><br></td>
            <td><br></td></tr>
        <tr>
            <td><img alt="Грильято CL15 - ячейка 100х100 мм." src="{{ asset('bundles/spbshop/img/635_100x100.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 120х120 мм." src="{{ asset('bundles/spbshop/img/635_3175_120x120.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 150х150 мм." src="{{ asset('bundles/spbshop/img/635_1389_150x150.png') }}"></td>
            <td><img alt="Грильято CL15 - ячейка 200х200 мм." src="{{ asset('bundles/spbshop/img/635_200x200.png') }}"></td></tr>
        <tr>
            <td align="center">100х100 мм</td>
            <td align="center">120х120 мм</td>
            <td align="center">150х150 мм</td>
            <td align="center">200х200 мм</td>
        </tr>
    </tbody>
</table>

<br/><br/>
<strong>Схема монтажа</strong>
<img class="thumbnail" title="Схема монтажа потолка грильято" src="{{ asset('bundles/spbshop/img/665_35.1.png') }}">

<br/><br/>
<strong>Расчет элементов системы для 1 м<sup>2</sup></strong>

<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th rowspan="2">арка системы</td>
            <th rowspan="2">Наименование изделия</td>
            <th rowspan="2">Марка изделия</td>
            <th rowspan="2">Модуль, мм</td>
            <th rowspan="2">Ед. изм.</td>
            <th colspan="9">Расход на 1 м<sup>2</sup></td></tr>
        <tr>
            <th>30х30</td>
            <th>50х50</td>
            <th>60х60</td>
            <th>75х75</td>
            <th>86х86</td>
            <th>100х</td>
            <th>120х</td>
            <th>150х</td>
            <th>200х</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="9">Грильято</td>
            <td>Решетка</td>
            <td>РГ</td>
            <td>600x600</td>
            <td>шт.</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td></tr>
        <tr>
            <td rowspan="2">Количество пластин в решетке</td>
            <td>"Мама"</td>
            <td>600</td>
            <td>шт.</td>
            <td>19</td>
            <td>11</td>
            <td>9</td>
            <td>7</td>
            <td>6</td>
            <td>5</td>
            <td>4</td>
            <td>3</td>
            <td>2</td></tr>
        <tr>
            <td>"Папа"</td>
            <td>600</td>
            <td>шт.</td>
            <td>19</td>
            <td>11</td>
            <td>9</td>
            <td>7</td>
            <td>6</td>
            <td>5</td>
            <td>4</td>
            <td>3</td>
            <td>2</td></tr>
        <tr>
            <td rowspan="3">Несущие направляющие</td>
            <td>№ 1</td>
            <td>2400</td>
            <td>шт.</td>
            <td>0,7</td>
            <td>0,7</td>
            <td>0,7</td>
            <td>0,7</td>
            <td>0,35</td>
            <td>0,35</td>
            <td>0,35</td>
            <td>0,35</td>
            <td>0,35</td></tr>
        <tr>
            <td>№ 2</td>
            <td>1200</td>
            <td>шт.</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>1,39</td>
            <td>1,39</td>
            <td>1,39</td>
            <td>1,39</td>
            <td>1,39</td></tr>
        <tr>
            <td>№ 3</td>
            <td>600</td>
            <td>шт.</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>2,78</td>
            <td>1,39</td>
            <td>1,39</td>
            <td>1,39</td>
            <td>1,39</td>
            <td>1,39</td></tr>
        <tr>
            <td>Соед&nbsp;элемент</td>
            <td>PG</td>
            <td><br></td>
            <td>шт.</td>
            <td>0,7</td>
            <td>0,7</td>
            <td>0,7</td>
            <td>0,7</td>
            <td>0,35</td>
            <td>0,35</td>
            <td>0,35</td>
            <td>0,35</td>
            <td>0,35</td></tr>
        <tr>
            <td>Подвес</td>
            <td>АП-Г</td>
            <td>900</td>
            <td>шт.</td>
            <td>1,85</td>
            <td>1,85</td>
            <td>1,85</td>
            <td>1,85</td>
            <td>0,93</td>
            <td>0,93</td>
            <td>0,93</td>
            <td>0,93</td>
            <td>0,93</td></tr>
        <tr>
            <td>Уголок</td>
            <td>PL 19x24</td>
            <td><br></td>
            <td>п. м.</td>
            <td colspan="9">по периметру помещения</td>
        </tr>
    </tbody>
</table>    
