<p>
    Компания «Виктис» предлагает самый широкий ассортимент  высококачественных 
    стеклообоев немецкого производства – от классических до эксклюзивных 
    дизайнов с возможностью изготовления рисунка по эскизу заказчика. 
    Стеклообои и стеклохолсты Vitrulan создадут неповторимый дизайн и желаемую 
    атмосферу в любом помещении.
</p>

<img class="thumbnail" src="{{ asset("bundles/spbshop/img/Phantasy_945_Innen.jpg")}}" alt="Phantasy-945-Innen">

<br/>
<strong>Стеклообои - лучший материал</strong>
<p>
    Люди постоянно стремятся к созданию уюта и комфорта в каждом помещении, где 
    они проводят свое время. Важнейшую роль в этом вопросе играет отделка 
    стен. На выполнение ремонта Вы тратите время, силы, деньги и свою 
    энергию. Однако зачастую это не приносит желаемого результата. Вновь и 
    вновь Вы возвращаетесь к этой трудоемкой процедуре.
</p>
<p>
    Здесь Вы можете купить высококачественные стеклообои, стеклохолсты,
    стеклосетки. Высокое немецкое качество продукции Vitrulan 
    вне конкуренции. А это является гарантией того, что покупатели 
    стеклообоев всегда есть.
</p>
<p>
    Стеклообои Витрулан прослужат Вам более 30 лет, они гигроскопичны и 
    паропроницаемы, на них не оседает пыль, а также не накапливается 
    статическое электричество. С помощью тканых стеклообоев Витрулан оклеить
    стен можно легко и быстро. Вы экономите время на выполнение ремонта, а 
    сам процесс превращается в увлекательную игру. Диаметр стекловолокон, 
    которые применяются в производстве стеклообоев, - 8-12 микрон. Благодаря
    этому, стеклообои Витрулан не раздражают кожу. Более того, стеклообои 
    Витрулан экологичны и абсолютно безопасны. Это отличный материал для 
    отделки детской комнаты.
</p>

<img class="thumbnail" src="{{ asset("bundles/spbshop/img/Phantasy_948_Innen.jpg")}}" alt="Phantasy-948-Innen">

<p>
    <br>
    Перед началом ремонта определитесь с текстурой рисунка стеклообоев. После 
    наклеивания их необходимо покрасить. Лучше всего для этого подойдут латексные и 
    акриловые краски на водной основе. Они ложатся ровным и тонким слоем, не
    забивая текстуру рисунка. Когда Вы захотите сменить цвет стен, просто 
    нанесите новый слой краски поверх старого. Если же классические 
    стеклообои Вам не подходят и Вы хотите придать помещению особый вид, то 
    компания "Виктис" предлагает услугу изготовления с эксклюзивным 
    дизайном. Обои будут изготовлены по Вашему эскизу в самые короткие 
    сроки. Так Вы легко и быстро, а главное с минимальными затратами, 
    создадите неповторимый дизайн, атмосферу уюта и комфорта.
</p>
<p>
    Кроме обычных стеклообоев, компания "Виктис" предлагает уникальные 
    водоактивные стеклообои. Для их наклеивания не нужен клей. Клеящее 
    вещество уже содержится в тканях полотна. Нужно просто смочить 
    водоактивные стеклообои водой и наклеить на ровную гладкую поверхность. 
    Для смачивания можно купить специальноую аквамашину. С ней процесс 
    поклейки становится легким, быстрым, чистым и приятным.
</p>
<p>
    Мы  разработали специальные клей и краску для стеклообоев. Клей Powder Plus
    гарантирует идеальное нанесение стеклотканевых обоев, а краска Vitacryl
    ELF подчеркивает все разнообразие оригинальных структур. Вся 
    представленная нами продукция - неизменно высокого качества и гарантия 
    красивых, надежных и безопасных стен.
</p>
<img class="thumbnail" src="{{ asset("bundles/spbshop/img/Phantasy_960_Innen.jpg")}}" alt="Phantasy-960-Innen">

<p class="text-error">
    <br/>
    Срок  службы стеклообоев более 30 лет. Их можно перекрашивать до 10 раз
    без  потери четкости рисунка. Это экологически чистый и безопасный материал.
    Вы можете заказать эксклюзивные стеклообои по Вашему эскизу!
</p>

<strong>Стеклообои - инновационный материал</strong>
<p>
    Стеклообои - это особо прочный и износостойкий материал для отделки помещений. 
    Наклеенные и покрашенные стеклообои практически невозможно повредить. 
    Тканые стеклообои выдерживают сильные удары, они не проминаются и не 
    протираются. 
</p>
<p>
    Такое покрытие легко можно очистить с помощью жесткой щетки дезинфицирующими 
    средствами. Обои при этом не рвутся и не расползаются. Очень важно 
    подобрать правильную краску, которая тоже обладала бы прочностью к 
    истиранию.
</p>

<img class="thumbnail" src="{{ asset("bundles/spbshop/img/Phantasy_953_Innen.jpg")}}" alt="Phantasy-953-Innen">

<p>
    <br/>
    Витрулан предлагает большой выбор дизайнерских решений, которые придадут 
    интерьеру приятный вид и создадут уютную атмосферу в помещении. Наиболее
    популярные классические рисунки - "елочка", "ромб" и "рогожка". В коллекции 
    Phantasy Plus от Vitrulan представлено более 60 оригинальных структур.
</p>
<p>
    Также в компании "Виктис" Вы можете заказать эксклюзив по Вашему эскизу. 
    Это могут быть обои с логотипом, семейным гербом, корпоративной 
    символикой или эмблемой. Компания осуществляет поставку продукции
    в любой регион России, ближнего и дальнего зарубежья.
</p>
<img class="thumbnail" src="{{ asset("bundles/spbshop/img/герб-замка-гимниш-в-германии.png")}}" alt="герб-замка-гимниш-в-германии">
<p>
    <br/>
    Стеклообои красят красками на водной основе. Наибольшей износостойкостью обладают 
    моющиеся краски. Лучше всего для стеклообоев подходят акриловые краски 
    на водной основе. Они не забивают текстуру и образуют тонкую глянцевую 
    пленку на их поверхности. Финишная покраска придает дополнительную 
    выразительность структуре рисунка. Новейшим достижением&nbsp; стало производство
    магнитных стеклообоев.
</p>
<p>
    Уникальное свойство притягивать магниты делает их незаменимым материалом для 
    отделки учебных заведений, офисов, рекламных агентств, дизайнерских 
    бюро. С помощью магнита на стены, оклеенные магнитными стеклообоями, 
    можно прикрепить любую информацию. Это весьма оригинально и экономически
    выгодно. Вам больше не понадобятся магнитные доски и планшеты.
</p>
