<p>
ООО Виктис расширяет свой ассортимент и выводит новое продуктовое 
направление — светильники, с целью предоставления возможности 
комплексной закупки как потолочных систем, так и светильников к ним.
</p>
<iframe src="http://www.youtube.com/embed/laxMpJsCVeY?rel=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe>
<p>
    <br/>
    <strong>Преимущества светильников производства РПО "Албес"</strong>
</p>
<ul>
    <li>
        <u>Идеальная совместимость!</u> Светильники идеально подходят к потолочным системам «Албес».
    </li>
    <li>
        <u>Возможность комплексной закупки,</u> как потолка, так и освещения к данному потолку.
    </li>
    <li>
        <u>Оптимальное сочетание цены и качества.</u>
    </li>
    <li>
        <u>Возможность выбора</u> светильников с различным количеством ламп и мощностей.
    </li>
    <li>
        <u>Экономичность.</u> РПО Албес ориентировано на качество и 
        энергоэффективность своей продукции. Использование электронной 
        пускорегулирующей аппаратуры позволяет значительно уменьшить расход 
        электроэнергии, повысить качество освещения и увеличить срок службы ламп
        и светильников.
    </li>
</ul>

<b>Ассортимент выпускаемых светильников</b>
<br/><br/>
<img src="{{ asset("bundles/spbshop/img/ассортимент-светильников-албес.png")}}" alt="ассортимент-светильников-албес">
<br/><br/>
<p>
    Светильники выпускаются как с электромагнитными пускорегулирующими 
    аппаратами (ПРА), так и с электронными ПРА (ЭПРА). Отличие в маркировке —
    дополнительная буква «m» для моделей с ПРА — например — RVA 418m. Все 
    светильники могут комплектоваться блоком аварийного питания. В 
    номенклатуре к артикулу добавляется Er — например — RVA 418m Er.
</p>
<b>Схема замера помещения</b>
<br/>
<img src="{{ asset("bundles/spbshop/img/схема-замера-помещения.png")}}" alt="схема-замера-помещения">
<br/><br/>
<b>Расчет освещения</b>
<p>
    Для определения необходимого количества светильников, необходимо 
    определиться с уровнем освещенности, который нормируется для 
    определенного типа помещения и/или для различных видов работ. Значения 
    нормируемой освещенности отражены в СанПиН 2.2.1/2.1.1.1278–03. Для 
    офисных помещений он составляет 400–500 лк на расчетной плоскости на 
    высоте 0,8 метра от пола (высота рабочего стола).<br>
    Метод коэффициентов использования позволяет простыми вычислениями 
    решать относительно простые светотехнические задачи — определение 
    необходимого количества осветительных приборов и расчет средней 
    освещенности.<br>
    Вычисления производятся по следующей формуле:</p>
<p style="text-align: center;">
    <img src="{{ asset("bundles/spbshop/img/formula_1.png")}}" alt="формула-1">
</p>
<p>
    Е — нормируемая освещенность<br>
    S — площадь помещения<br>
    Кз — коэффициент запаса, учитывает падение освещенности в процессе эксплуатации.<br>
    U — коэффициент использования (в таблицах коэффициентов использования),
    характеризует эффективность использования светового прибора в помещении
    определенных габаритов и типов поверхностей.<br>
    n — количество ламп в светильнике<br>
    Фл — световой поток лампы<br>
</p>
<p>
    Для определения коэффициента использования (U) необходимо рассчитать 
    индекс помещения k и определить коэффициенты отражения поверхностей 
    помещения (стены, пол и потолок). Индекс помещения (k) рассчитывается по
    следующей формуле:<br>
</p>

<p style="text-align: center;">
    <img src="{{ asset("bundles/spbshop/img/formula_2.png")}}" alt="формула-2">
</p>
<p>
    <strong>Пример:</strong> Пусть имеется помещение шириной 5,8 м, длиной 6 м и высотой 2,8 м, 
    где a — длина помещения, b — ширина.<br>
</p>
<p style="text-align: center;">
    <img src="{{ asset("bundles/spbshop/img/formula_3.png")}}" alt="формула-3">
<p>
    Выбираем коэффициенты отражения по таблице 1 и коэффициент запаса по таблице 2.
</p>
<br/>
<strong>Таблица 1. Коэффициенты отражения</strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Цвет поверхности
            </th>
            <th>
                Коэффициент отражения, %
            </th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td>
                Поверхность белого цвета
            </td>
            <td>
                70-80
            </td>
        </tr>
        <tr>
            <td>
                Светлая поверхность
            </td>
            <td>
                50
            </td>
        </tr>
        <tr>
            <td>
                Поверхность серого цвета
            </td>
            <td>
                30
            </td>
        </tr>
        <tr>
            <td>
                Поверхность темно-серого цвета
            </td>
            <td>
                20
            </td>
        </tr>
        <tr>
            <td>
                Темная поверхность
            </td>
            <td>
                10
            </td>
        </tr>
    </tbody>
</table>

<strong>Таблица 2. К<sub>3</sub> - коэффициент запаса</strong>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Тип помещения
            </th>
            <th>
                Коэффициент запаса
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Помещения общественных или жилых зданий с нормальными условиями среды
            </td>
            <td>
                1,4
            </td>
        </tr>
        <tr>
            <td>
                Пыльные, жаркие и сырые помещения общественных и жилых зданий
            </td>
            <td>
                1,7
            </td>
        </tr>
    </tbody>
</table>

<p>
    Примем, что коэффициенты отражения равны 50, 30, 20, и&nbsp;найдем 
    коэффициент использования по таблице 3 для светильника RVA 418. Е = 400 
    лк, S = 34,8 м2, Кз = 1,4, n = 4, Фл&nbsp;=&nbsp;1350 лм (лампа 18 Вт)
</p>

<p style="text-align: center;">
    <img src="{{ asset("bundles/spbshop/img/formula_4.png")}}" alt="формула-4">
</p>
<p>
    Таким образом, данное помещение должно быть освещено светильниками RVA 
    418 в количестве 8 шт. при равномерном размещении по поверхности потолка
    для достижения освещенности Е = 400 лк на рабочей поверхности (0,8 м от
    пола).
</p>
<strong>Таблица 3. Коэффициенты использования</strong>
<p>
    <img src="{{ asset("bundles/spbshop/img/коэффициенты-использования.png")}}" alt="коэффициенты-использования">
</p>
<strong>Расчет количества светильников</strong>
<p>
    <img src="{{ asset("bundles/spbshop/img/расчет-количества-светильников.png")}}" alt="расчет-количества-светильников">
</p>
<strong>Характеристики упаковки</strong>
<p>
    <img src="{{ asset("bundles/spbshop/img/характеристики-упаковки.png")}}" alt="характеристики-упаковки">
</p>