
<p>
    <strong>Материал:</strong> оцинкованная сталь<br/>
    <br/>
    <strong>Тип замка: </strong>цельно вырубленный «Крючковый»<br/>
    <br/>
    <strong>Тип соединения поперечных направляющих с основной несущей направляющей: </strong>встык
</p>
<p>
    <strong>Стандартные цвета: </strong>белый матовый, металлик, черный, медь, малина, ружейный, хром (супер и супер-люкс), золото (супер и супер-люкс).
</p>
<p>
    Профили подвесной системы Т-15 PRIM предназначены для монтажа тяжелых кассетных потолков размером 600х600 мм и 600х1200 мм, а также панелей со звукоизоляционным слоем.
</p>
<p>
    <strong>Рекомендуемые схемы монтажа</strong>
</p>
<p>
    Схемы 1, 2 и 3 рекомендуется применять для монтажа металлических потолков и плит из минералволокна размером 600х600, 600х1200 мм.
</p>
<p>
    Схемы 4 и 5 следует применять для монтажа гипсовых и стеклянных потолков.
</p>
<p>
    Монтажные схемы D1 и D2 позволяют создать новую картину потолка с использованием стандартных кассет: для схемы D1 – 600х1200 мм; для схемы D2 – 600х600 мм, с кромкой Tegular или Board.
</p>
<div  data-toggle="modal-gallery" data-target="#modal-gallery">
    <ul class="thumbnails">
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/916_shema-1.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 1">
                <img src="{{ asset('bundles/spbshop/img/916_shema-1.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/917_shema-2.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 2">
                <img src="{{ asset('bundles/spbshop/img/917_shema-2.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/918_shema-3.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 3">
                <img src="{{ asset('bundles/spbshop/img/918_shema-3.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/736_shema-4.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 4">
                <img src="{{ asset('bundles/spbshop/img/736_shema-4.jpg') }}" alt="">
            </a>
        </li>  
    </ul>
    <ul class="thumbnails">
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/737_shema-5.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 5">
                <img src="{{ asset('bundles/spbshop/img/737_shema-5.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/738_shema-6.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 6">
                <img src="{{ asset('bundles/spbshop/img/738_shema-6.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/739_shema-7.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 7">
                <img src="{{ asset('bundles/spbshop/img/739_shema-7.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/740_shema-8.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 8">
                <img src="{{ asset('bundles/spbshop/img/740_shema-8.jpg') }}" alt="">
            </a>
        </li>
    </ul>
    <ul class="thumbnails">
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/741_shema-9.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 9">
                <img src="{{ asset('bundles/spbshop/img/741_shema-9.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/742_shema-10.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 10">
                <img src="{{ asset('bundles/spbshop/img/742_shema-10.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/743_shema-11.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 11">
                <img src="{{ asset('bundles/spbshop/img/743_shema-11.jpg') }}" alt="">
            </a>
        </li>
    </ul>
</div>
<p>
    <img class="thumbnail" src="{{ asset('bundles/spbshop/img/t_15_prim.jpg') }}">
</p>
<p>
    <br/>
    <strong>Расход на 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>№ схемы</th>
            <th>Подвес АП, шт.</th>
            <th>Несущие направляющие L, мм</th>
            <th>Расход на м кв., м. п.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="4">1</td>
            <td rowspan="4">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>2,55</td>
        </tr>
        <tr>
            <td>300</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="3">2</td>
            <td rowspan="3">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>3,33</td>
        </tr>
        <tr>
            <td>300</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="4">3</td>
            <td rowspan="4">по расчету</td>
            <td>3700</td>
            <td rowspan="4">по расчету</td>
        </tr>
        <tr>
            <td>1200</td>
        </tr>
        <tr>
            <td>600</td>
        </tr>
        <tr>
            <td>300</td>
        </tr>
        <tr>
            <td rowspan="3">4</td>
            <td rowspan="3">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">5</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">6</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">7</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">8</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">9</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">10</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">11</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td colspan="4">Уголок PL 19x24, PLL по расчету</td>
        </tr>
    </tbody>
</table> 