<p>
    Видимая подвесная система <strong>Т-24 CLICK PRIM</strong> предназначена для
    монтажа панелей из стекла, керамики и панелей со звукоизоляционным слоем из гипса.
</p>
<p>
    Быстрота и надежность сборки обеспечивается новым отдельно штампованным замком, 
    который при смыкании издает отчетливый щелчок, подтверждающий правильность соединения 
    и повышающий уровень ответственности выполняемых работ.
</p>
<p>
    Возможность неоднократного смыкания и размыкания профилей без потери прочности 
    и жесткости конструкции позволяет при необходимости изменять монтажную схему.
</p>
<p>
    Технология прошивки металлических листов повышает жесткость профиля на скручивание 
    и придаёт дополнительную надежность подвесной конструкции.
</p>
<p>
    Система спроектирована с учетом возможности ее использования в помещениях 
    повышенной влажности.
</p>
<p>
    <strong>Возможности цветового исполнения:</strong>
</p>
<p>
    Белый матовый, металлик, черный, медь, малина, ружейный, хром (супер и супер-люкс), золото (супер и супер-люкс).
</p>
<p>
    <strong>Состав системы</strong>
</p>
<p>
    <strong>Основная направляющая T-24/38 CLICK PRIM</strong>
</p>
<p>
    <img class="thumbnail" src="{{ asset('bundles/spbshop/img/641_1.png') }}" >
<p>
    <strong>Длинная поперечная направляющая T-24/29 CLICK PRIM и T-24/38 CLICK PRIM</strong>
</p>
<p>
    <img class="thumbnail" src="{{ asset('bundles/spbshop/img/641_6006_2.gif') }}" >
</p>
<p>
    <strong>Короткая поперечная направляющая T-24/29 CLICK PRIM и T-24/38 CLICK PRIM</strong>
</p>
<p>
    <img class="thumbnail" src="{{ asset('bundles/spbshop/img/641_3849_3.gif') }}" >
</p>
<table class="table">
    <thead>
        <tr>
            <th>Подвес АП</th>
            <th>Периметральный уголок PL 19x24</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="{{ asset('bundles/spbshop/img/641_ap.png') }}" >
            </td>
            <td>
                <img src="{{ asset('bundles/spbshop/img/641_PL_160h100.jpg') }}" >
            </td>
        </tr>
    </tbody>
</table>

<p>
    <strong>Рекомендуемые схемы монтажа</strong>
</p>
<p>
    Схемы 1, 2 и 3 рекомендуется применять для монтажа металлических потолков и 
    плит из минералволокна размером 600х600, 600х1200 мм.
</p>
<p>
    Схемы 4 и 5 следует применять для монтажа гипсовых и стеклянных потолков.
</p>
<p>
    Монтажные схемы D1 и D2 позволяют создать новую картину потолка с использованием 
    стандартных кассет: для схемы D1 – 600х1200 мм; для схемы D2 – 600х600 мм, 
    с кромкой Tegular или Board.
</p>
<div  data-toggle="modal-gallery" data-target="#modal-gallery">
<ul class="thumbnails">
    <li class="span3">
        <a href="{{ asset('bundles/spbshop/img/744_shema-4.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 4">
            <img src="{{ asset('bundles/spbshop/img/744_shema-4.jpg') }}" alt="">
        </a>
    </li>
    <li class="span3">
        <a href="{{ asset('bundles/spbshop/img/745_shema-5.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 5">
            <img src="{{ asset('bundles/spbshop/img/745_shema-5.jpg') }}" alt="">
        </a>
    </li>
    <li class="span3">
        <a href="{{ asset('bundles/spbshop/img/746_shema-6.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 6">
            <img src="{{ asset('bundles/spbshop/img/746_shema-6.jpg') }}" alt="">
        </a>
    </li>
    <li class="span3">
        <a href="{{ asset('bundles/spbshop/img/748_shema-9.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 9">
            <img src="{{ asset('bundles/spbshop/img/748_shema-9.jpg') }}" alt="">
        </a>
    </li>  
</ul>
<ul class="thumbnails">
    <li class="span3">
        <a href="{{ asset('bundles/spbshop/img/747_shema-7.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 7">
            <img src="{{ asset('bundles/spbshop/img/747_shema-7.jpg') }}" alt="">
        </a>
    </li>
    <li class="span3">
        <a href="{{ asset('bundles/spbshop/img/749_shema-10.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 10">
            <img src="{{ asset('bundles/spbshop/img/749_shema-10.jpg') }}" alt="">
        </a>
    </li>
    <li class="span3">
        <a href="{{ asset('bundles/spbshop/img/750_shema-11.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 11">
            <img src="{{ asset('bundles/spbshop/img/750_shema-11.jpg') }}" alt="">
        </a>
    </li>
</ul>
</div>

<p>
    <strong>Расход на 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>№ схемы</th>
            <th>Подвес АП, шт.</th>
            <th>Несущие направляющие L, мм</th>
            <th>Расход на м кв., м. п.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="3">4</td>
            <td rowspan="3">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">5</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">6</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">7</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">8</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">9</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">10</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">11</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td colspan="4">Уголок PL 19x24, PLL по расчету</td>
        </tr>
    </tbody>
</table>

<p>
    <strong>Упаковка изделий</strong>
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество, шт./уп.</th>
            <th>Количество, м. п./уп</th>
            <th>Рядов, шт./коробка</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>T-24/29 CLICK PRIM L=0,6 м.</td>
            <td>60</td>
            <td>36</td>
            <td>2</td>
        </tr>
        <tr>
            <td>T-24/38 CLICK PRIM L=0,6 м.</td>
            <td>60</td>
            <td>36</td>
            <td>2</td>
        </tr>
        <tr>
            <td>T-24/29 CLICK PRIM L=1,2 м.</td>
            <td>60</td>
            <td>72</td>
            <td>2</td>
        </tr>
        <tr>
            <td>T-24/38 CLICK PRIM L=1,2 м.</td>
            <td>60</td>
            <td>72</td>
            <td>2</td>
        </tr>
        <tr>
            <td>T-24/38 CLICK PRIM L=3,7 м.</td>
            <td>20</td>
            <td>74</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
