<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/t_24_albes.jpg') }}">
</p>
<p>
    <strong>Материал:</strong> жесть<br>
    <br>
    <strong>Тип замка: </strong>цельно вырубленный<br>
    <br>
    <strong>Тип соединения поперечных направляющих с основной несущей направляющей: </strong>внахлест
</p>
<p>
    <strong>Стандартные цвета: </strong>белый матовый, металлик, золото, супер-хром.
</p>
<p>
    Уникальное ценовое предложение компании на подвесную систему Т-24 Албес обеспечит конкурентное преимущество продукции при ее последующей реализации. Исполнение видимой части профиля в самых востребованных цветах позволит с легкостью подобрать вариант для оформления практически любого интерьера.
</p>
<p>
    Профили подвесной системы Т-24 Албес — универсальны для монтажа самых распространенных (популярных) кассетных потолков размером 600х600 мм и 600х1200 мм из минерального волокна и алюминия как отечественного, так и зарубежного производства.
</p>
<p>
    <b>Рекомендуемые схемы монтажа</b>
</p>
<p>
    Схемы 1, 2 и 3 рекомендуется применять для монтажа металлических потолков и плит из минералволокна размером 600х600, 600х1200 мм.
</p>
<p>
    Схемы 4 и 5 следует применять для монтажа гипсовых и стеклянных потолков.
</p>
<p>
    Монтажные схемы D1 и D2 позволяют создать новую картину потолка с использованием стандартных кассет: для схемы D1 – 600х1200 мм; для схемы D2 – 600х600 мм, с кромкой Tegular или Board.
</p>

<div  data-toggle="modal-gallery" data-target="#modal-gallery">
    <ul class="thumbnails">
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/725_shema-4.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 4">
                <img src="{{ asset('bundles/spbshop/img/725_shema-4.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/726_shema-5.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 5">
                <img src="{{ asset('bundles/spbshop/img/726_shema-5.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/727_shema-7.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 7">
                <img src="{{ asset('bundles/spbshop/img/727_shema-7.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/728_shema-8.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 8">
                <img src="{{ asset('bundles/spbshop/img/728_shema-8.jpg') }}" alt="">
            </a>
        </li>  
    </ul>
</div>

<p>
    <strong>Расход на 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>№ схемы</th>
            <th>Подвес АП, шт.</th>
            <th>Несущие направляющие L, мм</th>
            <th>Расход на м кв., м. п.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="3">4</td>
            <td rowspan="3">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">5</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">6</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">7</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">8</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">9</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">10</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">11</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td colspan="4">Уголок PL 19x24, PLL по расчету</td>
        </tr>
    </tbody>
</table>