<p>
    <img class="thumbnail" alt="" src="{{ asset('bundles/spbshop/img/t_24_norma.jpg') }}">
</p>
<p>
    <strong>Материал:</strong> жесть<br>
    <br>
    <strong>Тип замка:</strong> цельно вырубленный<br>
    <br>
    <strong>Тип соединения поперечных направляющих с основной несущей направляющей:</strong> внахлест<br>
    <br>
    <strong>Стандартные цвета:</strong> белый матовый, металлик, золото, супер - хром Видимая подвесная система  Т-24 «Norma» предназначена для монтажа готовых модульных элементов с распределенной нагрузкой не более 7,5 кг/кв.м потолка. Т-24 «Norma»  предназначена для монтажа кассетных потолков с кромками «TEGULAR» или «BOARD» из окрашенного алюминия, стали, просечно-вытяжной сетки, минерального волокна, а так же пластика.<br>
    <br>
    <strong>ВНИМАНИЕ!</strong> 
    Новая система  Т-24 «Norma» имеет замок, отличный от замка, использовавшегося ранее на профиле «Universal» и «Албес». Изменение геометрии стыковочного отверстия и замковых соединений в новой системе  Т-24 «Norma»  позволило увеличить жесткость данного профиля и повысить его несущую способность<br>
    <br>
    <strong>Преимущества</strong>
    <br>
</p>
<ul>
    <li>
        Подвесная потолочная система Т-24 «Norma» является несгораемым каркасом. (Класс горючести - Г1, класс воспламеняемости – В1, группа токсичности– Т1, группа дымообразования - Д1)
    </li>
    <li>
        Основные направляющие имеют специальное отверстие, которое компенсирует температурные расширения в случае пожара. Это сохраняет структурную целостность подвесного потолка, удерживает панели на месте и предотвращает обрушение потока при пожаре.
    </li>
    <li>
        Простота конструкции обеспечивает быстрый монтаж подвесной системы
    </li>
    <li>
        Оптимальная несущая способность
    </li>
</ul>
<p>
    <strong>Область применения:</strong>
</p>
<ul>
    <li>интерьеры общественных, производственных и вспомогательных зданий и сооружений</li>
    <li>лечебно-профилактические учреждения предприятия общественного питания</li>
    <li>офисы и приемные</li>
    <li>залы ресторанов и холлы гостиниц</li>
    <li>концертные залы, театры и кинотеатров</li>
    <li>спортивно-развлекательные комплексы</li>
    <li>аэропорты, железнодорожные вокзалы и автовокзалы.</li>
</ul>
<p>
    <strong>Рекомендуемые схемы монтажа</strong>
</p>
<p>
    Схемы 1, 2 и 3 рекомендуется применять для монтажа металлических потолков и плит из минералволокна размером 600х600, 600х1200 мм.<br>
    <br>
    Схемы 4 и 5 следует применять для монтажа гипсовых и стеклянных потолков.
</p>


<div  data-toggle="modal-gallery" data-target="#modal-gallery">
    <ul class="thumbnails">
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/718_2rel_shema-4.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 4">
                <img src="{{ asset('bundles/spbshop/img/718_2rel_shema-4.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/719_shema-5.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 5">
                <img src="{{ asset('bundles/spbshop/img/719_shema-5.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/720_shema-7.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 7">
                <img src="{{ asset('bundles/spbshop/img/720_shema-7.jpg') }}" alt="">
            </a>
        </li>
        <li class="span3">
            <a href="{{ asset('bundles/spbshop/img/721_shema-8.jpg') }}" class="thumbnail" data-gallery="gallery" title="Монтажная схема 8">
                <img src="{{ asset('bundles/spbshop/img/721_shema-8.jpg') }}" alt="">
            </a>
        </li>  
    </ul>
</div>
<p>
    <strong>Расход на 1 м<sup>2</sup></strong>
</p>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>№ схемы</th>
            <th>Подвес АП, шт.</th>
            <th>Несущие направляющие L, мм</th>
            <th>Расход на м кв., м. п.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="3">4</td>
            <td rowspan="3">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">5</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">6</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">7</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">8</td>
            <td rowspan="2">1,4</td>
            <td>3700</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td>600</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">9</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>1,67</td>
        </tr>
        <tr>
            <td rowspan="2">10</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td rowspan="2">11</td>
            <td rowspan="2">0,7</td>
            <td>3700</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td>1200</td>
            <td>0,83</td>
        </tr>
        <tr>
            <td colspan="4">Уголок PL 19x24, PLL по расчету</td>
        </tr>
    </tbody>
</table>